/**
 * Generates css for widget boxes background colors
 */
.widget-boxes-color-field input[type="radio"] {
  opacity: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.widget-boxes-color-field input[type="radio"] + label {
  margin: 10px 0 0 -33px;
  clear: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 2px solid transparent;
  overflow: hidden;
}
.widget-boxes-color-field input[type="radio"]:checked + label {
  border: 2px solid black;
}

.widget-boxes-icon-field input[type="radio"] {
  opacity: 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.widget-boxes-icon-field input[type="radio"] + label {
  background-color: #ffffff;
  margin: 12px 0 0 -36px;
  clear: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: inline-block;
  border: 2px solid transparent;
  overflow: hidden;
  color: transparent;
}
.widget-boxes-icon-field input[type="radio"]:checked + label {
  border: 2px solid black;
}

.ps-icon-paper-bg-32 {
  background-image: url(../images/icons-bluematte-32.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.ps-icon-cards-bg-32 {
  background-image: url(../images/icons-bluematte-32.png);
  background-position: -32px 0;
  background-repeat: no-repeat;
}

.ps-icon-print-bg-32 {
  background-image: url(../images/icons-bluematte-32.png);
  background-position: -64px 0;
  background-repeat: no-repeat;
}

.ps-icon-mail-bg-32 {
  background-image: url(../images/icons-bluematte-32.png);
  background-position: 0 -32px;
  background-repeat: no-repeat;
}

.ps-icon-save-bg-32 {
  background-image: url(../images/icons-bluematte-32.png);
  background-position: -32px -32px;
  background-repeat: no-repeat;
}

.ps-icon-disc-bg-32 {
  background-image: url(../images/icons-bluematte-32.png);
  background-position: -64px -32px;
  background-repeat: no-repeat;
}

.bluematte {
  /* Primary colour for buttons (alt) */
  /* Text on primary colour bg */
  /* Secondary buttons */
  /* Text on secondary colour bg */
  /* Prices, In stock labels, sales flash */
  /* Text on highlight colour bg */
}
.bluematte .box-color-1 {
  background-color: #ff8f50;
  color: #ff8f50;
}
.bluematte .box-color-2 {
  background-color: #ffcc14;
  color: #ffcc14;
}
.bluematte .box-color-3 {
  background-color: #a9cbcf;
  color: #a9cbcf;
}
.bluematte .box-color-4 {
  background-color: #f8eeb1;
  color: #f8eeb1;
}

.candy {
  /* Primary colour for buttons (alt) */
  /* Text on primary colour bg */
  /* Secondary buttons */
  /* Text on secondary colour bg */
  /* Prices, In stock labels, sales flash */
  /* Text on highlight colour bg */
}
.candy .box-color-1 {
  background-color: #e84a5f;
  color: #e84a5f;
}
.candy .box-color-2 {
  background-color: #ff847c;
  color: #ff847c;
}
.candy .box-color-3 {
  background-color: #fecea8;
  color: #fecea8;
}
.candy .box-color-4 {
  background-color: #99b898;
  color: #99b898;
}

.linen {
  /* Primary colour for buttons (alt) */
  /* Text on primary colour bg */
  /* Secondary buttons */
  /* Text on secondary colour bg */
  /* Prices, In stock labels, sales flash */
  /* Text on highlight colour bg */
}
.linen .box-color-1 {
  background-color: #746356;
  color: #746356;
}
.linen .box-color-2 {
  background-color: #b7a495;
  color: #b7a495;
}
.linen .box-color-3 {
  background-color: #d3c6cc;
  color: #d3c6cc;
}
.linen .box-color-4 {
  background-color: #e9dace;
  color: #e9dace;
}
