/**
 * jetpack
 * --------------------------------------------------------------------------- */

.jetpack_subscription_widget #subscribe-field {
	height: 3em;
	line-height: 2;
	padding: 1px 10px !important;
}