/**
 * Flexslider CSS
 * --------------------------------------------------------------------------- */

@mixin slide-wrapper {
	padding-top: 30px !important;
}

@mixin slide-control-nav {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
@mixin slider-prev {
	height:60px;
    width:30px;
    @include border-radius( 0 90px 90px 0 );
    text-decoration: none;
    &:after {
    	width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-right: 12px solid #ffffff;
		position: relative;
		right: -6px;
		display: block;
		text-indent: 0;
	    top: 16px;
		content: "";
    }
}

@mixin slider-next {
	height:60px;
    width:30px;
    right: 0;
    @include border-radius( 90px 0 0 90px );
    text-decoration: none;
    &:after {
    	width: 0;
		height: 0;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-left: 12px solid #ffffff;
		position: relative;
		left: 12px;
		display: block;
		text-indent: 0;
	    top: 16px;
		content: "";
    }
}

#home-flexslider {

	 ul {
	 	padding-left: 0;
	 }

	/* Browser Resets
	*********************************/
	.flex-container a:active,
	.flexslider a:active,
	.flex-container a:focus,
	.flexslider a:focus  {outline: none;}
	.slides,
	.flex-control-nav,
	.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

	/* Icon Fonts
	*********************************/
	/* Font-face Icons */
	@font-face {
		font-family: 'flexslider-icon';
		src:url('fonts/flexslider-icon.eot');
		src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
			url('fonts/flexslider-icon.woff') format('woff'),
			url('fonts/flexslider-icon.ttf') format('truetype'),
			url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	/* FlexSlider Necessary Styles
	*********************************/
	.flexslider {margin: 0; padding: 0;}
	.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
	.flexslider .slides img {width: 100%; display: block;}
	.flex-pauseplay span {text-transform: capitalize;}

	/* Clearfix for the .slides element */
	.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
	html[xmlns] .slides {display: block;}
	* html .slides {height: 1%;}

	/* No JavaScript Fallback */
	/* If you are not using another script, such as Modernizr, make sure you
	 * include js that eliminates this class on page load */
	.no-js .slides > li:first-child {display: block;}

	/* FlexSlider Default Theme
	*********************************/
	.flexslider {
		margin: 0;
		position: relative;
		zoom: 1;
	}
	.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
	.loading .flex-viewport { max-height: 300px; }
	.flexslider .slides { zoom: 1; }
	.carousel li { margin-right: 5px; }

	/* Direction Nav */
	.flex-direction-nav {*height: 0;}
	.flex-direction-nav a {
		margin: -20px 0 0;
		display: block;
		position: absolute;
		top: 50%;
		z-index: 10;
		cursor: pointer;
		text-indent: -9999px;
		-webkit-transition: all .3s ease;
	}
	.flex-direction-nav .flex-next {
		@include slider-next;
	    &:after {
		  top: -8px;
		}
	}
	.flex-direction-nav .flex-prev {
		@include slider-prev;
		&:after {
		  top: -8px;
		}
	}
	.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

	/* Control Nav */
	.flex-control-nav {
		@include slide-control-nav;
		position: absolute;
		bottom: -50px;
	}
	.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
	.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
	.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
	.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

	.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
	.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
	.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
	.flex-control-thumbs img:hover {opacity: 1;}
	.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
}

.ps-slide-content {
	position: relative;
}

.ps-slider-meta {
	position: absolute;
	bottom: 2em;
	right: 40px;
	margin-left: 40px;
	h3 {
		line-height: 1.5;
		margin: 0 0 0.5em;
		background: white;
		padding: 0 0.167em;
		float: right;
	}
	div {
		clear: right;
		float: right;
		text-transform: lowercase;
		background: white;
		padding: 0 0.333em;
		@include font-size(18);
		a {
			text-decoration: none;
		}
	}
	@include clearfix;
}