/**
 * Social Menu
 * --------------------------------------------------------------------------- */

// Based on Socially Awkward, http://themehybrid.com/themes/socially-awkward, by Justin Tadlock, http://justintadlock.com
// 
@import "font-awesome/scss/variables";

.social-menu {

	&, ul {
		list-style: none;
		margin: 0 0 15px;
	}

	li {
		display:  inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		border-radius: 50%;
		width: 48px;
		height: 48px;
		overflow: hidden;
		background-color: #ffffff;

		#social-menu-default & {
			margin-right: 7px;
		}
	}

	li a {
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: #ffffff;
		@include link-colors( #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
	}

	li a::before,
	[class^="fa-"]::before,
	[class*=" fa-"]::before {
		-webkit-font-smoothing: antialiased;
		font-family: 'FontAwesome';
		vertical-align: middle;
		display: inline-block;
		line-height: 48px;
		padding: 0 5px;
		font-size: 30px;
		text-align: center;
		width: 48px;
	}
	li a::before {
		content: $fa-var-link;
	}
	li a[href*="facebook.com"]::before {
		content: $fa-var-facebook;
	}
	li a[href*="twitter.com"]::before {
		content: $fa-var-twitter;
	}
	li a[href*="dribbble.com"]::before {
		content: $fa-var-dribbble;
	}
	li a[href*="plus.google.com"]::before {
		content: $fa-var-google-plus;
	}
	li a[href*="pinterest.com"]::before {
		content: $fa-var-pinterest;
	}
	li a[href*="github.com"]::before {
		content: $fa-var-github;
	}
	li a[href*="bitbucket.com"]::before {
		content: $fa-var-bitbucket;
	}
	li a[href*="tumblr.com"]::before {
		content: $fa-var-tumblr;
	}
	li a[href*="youtube.com"]::before {
		content: $fa-var-youtube;
	}
	li a[href*="flickr.com"]::before {
		content: $fa-var-flickr;
	}
	li a[href*="instagram.com"]::before {
		content: $fa-var-instagram;
	}
	li a[href*="linkedin.com"]::before {
		content: $fa-var-linkedin;
	}
	li a[href*="/feed"]::before {
		content: $fa-var-rss;
	}
	li a[href*="dropbox.com"]::before {
		content: $fa-var-dropbox;
	}
	li a[href*="foursquare.com"]::before {
		content: $fa-var-foursquare;
	}
	li a[href*="flickr.com"]::before {
		content: $fa-var-flickr;
	}
	li a[href*="skype.com"]::before {
		content: $fa-var-skype;
	}
	li a[href*="mailto"]::before {
		content: $fa-var-envelope;
	}
	[class^="fa-"] a,
	[class*=" fa-"] a {		
		top: -48px;
		position: relative;
		width: 48px;
		height: 48px;
		opacity: 0;
	}
	[class^="fa-"] a::before,
	[class*=" fa-"] a::before {
		content: none !important;
	}

}