/**
 * Soliloquy plugin
 * --------------------------------------------------------------------------- */

.widget.soliloquy {
	@include slide-wrapper;
}

#container {


  .soliloquy-theme-printing-shop .soliloquy-control-nav {
		@include slide-control-nav;
	}

  .soliloquy-theme-printing-shop .soliloquy-direction-nav {
		display: block;
	}

  // based on Classic Theme

  /* ==========================================================================
	 Printing Shop Theme Styles
	 ========================================================================== */

  .soliloquy-theme-printing-shop {

	&:after {
	  display: none;
	  height: 0;
	  line-height: 0;
	  visibility: hidden;
	  content: url('images/slider-arrows-horizontal.png') url('images/slider-dots.png');
	}

	.soliloquy-prev {
	  @include slider-prev;
	  left: 0;
	  margin-top: -30px;
	  background-image: none;
	}

	.soliloquy-next {
	  @include slider-next;
	  margin-top: -30px;
	  background-image: none;
	}

	.soliloquy-pager {
	  width: 100%;
	  margin: 0 0 0 5px;
	  position: absolute;
	  bottom: 10px;
	  height: 14px;
	  text-align: left;
	}

	.soliloquy-pager-item {
	  display: inline-block;
	  margin: 0 0 0 5px;
	  position: relative;
	  z-index: 1320;
	}

	.soliloquy-pager-item:first-child {
	  margin-left: 5px;
	}

	.soliloquy-pager-link {
	  background: url('images/slider-dots.png') no-repeat scroll 0 0;
	  width: 14px;
	  height: 14px;
	  display: block;
	  outline: none;
	  text-indent: -9999px;
	}

	.soliloquy-pager-link:hover,
	.soliloquy-pager-link.active {
	  background: url('images/slider-dots.png') no-repeat scroll 0 -14px;
	}

	.soliloquy-caption-wrap {
	  position: static;
	  background: none;
	}

	.soliloquy-caption {
	  text-shadow: none;
	  background: none;
	  position: static;
	}

	.soliloquy-caption-inside {
	  text-shadow: none;
	}

	.ps-slider-meta {
	  position: absolute;
	}
  }

  /* ==========================================================================
	 Retina Styles
	 ========================================================================== */

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

	.soliloquy-theme-printing-shop .soliloquy-prev {
	  background: url('images/slider-arrows-horizontal@2x.png') no-repeat scroll 0 0;
	  background-size: 100%;
	}

	.soliloquy-theme-printing-shop .soliloquy-next {
	  background: url('images/slider-arrows-horizontal@2x.png') no-repeat scroll 0 -20px;
	  background-size: 100%;
	}

	.soliloquy-theme-printing-shop .soliloquy-pager-link {
	  background: url('images/slider-dots@2x.png') no-repeat scroll 0 0;
	  background-size: 100%;
	  height: 15px;
	}

	.soliloquy-theme-printing-shop .soliloquy-pager-link:hover,
	.soliloquy-theme-printing-shop .soliloquy-pager-link.active {
	  background-position: 0 -15px;
	}

  }

}