
@import "font-awesome/scss/variables";

#content,
.sidebar {

	.whistles-tabs {

		.whistles-tabs-nav li a {
			display: inline-block;
			@include font-size(16);
			font-weight: bold;
			border-right-width: 0;
			text-decoration: none;
		}
	}

	.whistles-toggle,
	.whistles-accordion {

		.whistle-title {
			margin: 0;
			padding: 0.5rem 1.5rem;
			@include font-size(16);
			font-weight: bold;
			border-top-width: 0;
			&::before {
				content: $fa-var-caret-right;
				-webkit-font-smoothing: antialiased;
				font-family: 'FontAwesome';
				@include font-size(24);
				vertical-align: middle;
				display: inline-block;
				line-height: 1;
				text-align: center;
				width: inherit;
				text-align: center;
				padding-right: .25em;
			}
		}

		.whistle-title[aria-selected="true"] {
			&::before {
				content: $fa-var-caret-down;
			}
		}

		.whistle-content {
			background: transparent;
		}
	}
}