/* editor stylesheet */
input,
textarea,
select {
  font-size: 14px;
  font-size: 1.4rem;
  padding: .5em 2em;
}

/**
 * Basics
 * --------------------------------------------------------------------------- */
/* === HTML === */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: auto;
}

/* === Body === */
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

p {
  word-wrap: break-word;
  margin: 0 0 1.5em 0;
}

/* === Links === */
a:hover {
  text-decoration: none;
}

/* === Headers === */
h1, h2, .color-bluematte table caption, .color-candy table caption, .color-linen table caption, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0 0 .5em 0;
  text-transform: lowercase;
}

h1 {
  font-size: 48px;
  font-size: 4.8rem;
}

h2, .color-bluematte table caption, .color-candy table caption, .color-linen table caption {
  font-size: 30px;
  font-size: 3rem;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
}

h4 {
  font-size: 22px;
  font-size: 2.2rem;
}

h5 {
  font-size: 20px;
  font-size: 2rem;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

h1 a, h2 a, .color-bluematte table caption a, .color-candy table caption a, .color-linen table caption a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* === Blockquotes, quotes, and cites === */
blockquote {
  margin: 0;
  padding: 8px 25px 0 50px;
  font-style: normal;
  background: url(images/quotes.png) no-repeat 0 0;
}

blockquote em, blockquote cite {
  font-style: italic;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* === Acronyms and abbreviations === */
acronym {
  font-variant: small-caps;
}

/* === Code and Preformatted text === */
code {
  padding: 1px 3px;
  color: #111;
  background: #eee;
}

pre {
  padding: 2em;
  background: #ccc;
  border: 1px solid #ddd;
  margin-bottom: 2em;
}

pre code {
  padding: 0;
  background: transparent;
}

li.comment pre {
  background-color: #ccc;
}

/* === <address> tag === */
address {
  margin-bottom: 1.5em;
}

/* === Lists === */
ol, ul {
  list-style: none;
}

ul {
  list-style: disc;
  margin: 0 0 2em 2.5em;
}

ol {
  list-style-type: decimal;
  margin: 0 0 2em 3em;
}

ol ol {
  list-style: upper-roman;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: upper-alpha;
}

ol ol ol ol ol {
  list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

dl {
  margin: 0 0 2em .5em;
}

dl dt {
  font-weight: bold;
  margin: 1em 0 0 0;
}

dl dd {
  margin: .5em 0 0 1.5em;
}

/* === Tables === */
table {
  width: 100%;
  border-bottom: none;
  margin-bottom: 1.5em;
  border-collapse: collapse;
}

table caption {
  margin: 0 0 5px;
}

th,
td {
  padding: 0.5em;
  text-align: center;
}
th:first-of-type,
td:first-of-type {
  text-align: left;
}

#content table {
  font-size: 15px;
  font-size: 1.5rem;
}

/* === Embeds === */
object {
  max-width: 100%;
}

embed {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

video {
  max-width: 100%;
}

/* === Alignement (WP classes) === */
.alignleft, .left {
  float: left;
  margin-right: 10px;
}

.alignright, .right {
  float: right;
  margin-left: 10px;
}

.aligncenter, .center {
  display: block;
  margin: 0 auto 15px auto;
}

.alignnone, .block {
  clear: both;
  margin: 0 0 15px 0;
}

img.alignleft, img.alignright {
  display: inline;
}

/* === search === */
.assistive-text, .screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

/* 1080px */
/* 10px */
/* 300px */
/* 590px */
/* 790px */
/* 950px */
/**
* Images
* --------------------------------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
}

a img {
  display: block;
}

/* === WP editor image sizes === */
/* === Thumbnails === */
.single-thumbnail-wrap {
  margin-bottom: 1em;
}

/* === Captions === */
.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  /* no special styles */
}

/* === Gallery === */
/**
 * Cleaner Gallery Stylesheet
 * @version 0.9.5
 */
.gallery {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  /* Image sizes depending on the number of columns */
}
.gallery .gallery-row {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0 0 1em 0;
}
.gallery .gallery-item {
  overflow: hidden;
  float: left;
  margin: 0;
  text-align: center;
  list-style: none;
  padding: 0;
}
.gallery .gallery-item .gallery-icon img {
  width: auto;
  max-width: 80%;
  height: auto;
  padding: 1%;
  margin: 0 auto;
}
.gallery .gallery-caption {
  margin-left: 0;
}
.gallery .col-0 {
  width: 100%;
}
.gallery .col-1 {
  width: 100%;
}
.gallery .col-2 {
  width: 50%;
}
.gallery .col-3 {
  width: 33.33%;
}
.gallery .col-4 {
  width: 25%;
}
.gallery .col-5 {
  width: 20%;
}
.gallery .col-6 {
  width: 16.66%;
}
.gallery .col-7 {
  width: 14.28%;
}
.gallery .col-8 {
  width: 12.5%;
}
.gallery .col-9 {
  width: 11.11%;
}
.gallery .col-10 {
  width: 10%;
}
.gallery .col-11 {
  width: 9.09%;
}
.gallery .col-12 {
  width: 8.33%;
}
.gallery .col-13 {
  width: 7.69%;
}
.gallery .col-14 {
  width: 7.14%;
}
.gallery .col-15 {
  width: 6.66%;
}
.gallery .col-16 {
  width: 6.25%;
}
.gallery .col-17 {
  width: 5.88%;
}
.gallery .col-18 {
  width: 5.55%;
}
.gallery .col-19 {
  width: 5.26%;
}
.gallery .col-20 {
  width: 5%;
}
.gallery .col-21 {
  width: 4.76%;
}
.gallery .col-22 {
  width: 4.54%;
}
.gallery .col-23 {
  width: 4.34%;
}
.gallery .col-24 {
  width: 4.16%;
}
.gallery .col-25 {
  width: 4%;
}
.gallery .col-26 {
  width: 3.84%;
}
.gallery .col-27 {
  width: 3.7%;
}
.gallery .col-28 {
  width: 3.57%;
}
.gallery .col-29 {
  width: 3.44%;
}
.gallery .col-30 {
  width: 3.33%;
}

/* === Avatars === */
/* === Sprites === */
/* === icons === */
.ps-icon-paper-bg-128 {
  background-image: url(images/icons-128.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.ps-icon-cards-bg-128 {
  background-image: url(images/icons-128.png);
  background-position: -128px 0;
  background-repeat: no-repeat;
}

.ps-icon-print-bg-128 {
  background-image: url(images/icons-128.png);
  background-position: -256px 0;
  background-repeat: no-repeat;
}

.ps-icon-mail-bg-128 {
  background-image: url(images/icons-128.png);
  background-position: 0 -128px;
  background-repeat: no-repeat;
}

.ps-icon-save-bg-128 {
  background-image: url(images/icons-128.png);
  background-position: -128px -128px;
  background-repeat: no-repeat;
}

.ps-icon-disc-bg-128 {
  background-image: url(images/icons-128.png);
  background-position: -256px -128px;
  background-repeat: no-repeat;
}

/**
 * form styles
 * --------------------------------------------------------------------------- */
form {
  margin-bottom: 2em;
}

label,
td.label {
  text-transform: lowercase;
}

input,
textarea,
select {
  max-width: 100%;
}

input,
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
isindex {
  border: 1px solid #000;
}

select,
input[type="file"] {
  padding: .5em;
  max-width: 100%;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
  color: #ffffff;
  line-height: 2;
  width: auto;
  text-decoration: none;
  text-transform: lowercase;
  margin: 1em auto;
  padding: 0 .5385em;
  border: none;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
  color: #ffffff;
  line-height: 2;
  width: auto;
  text-decoration: none;
  text-transform: lowercase;
  margin: 1em auto;
  padding: 0 .5385em;
  border: none;
}

/**
 * Clearing Floats
 * --------------------------------------------------------------------------- */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Assistive text
 * --------------------------------------------------------------------------- */
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Special Classes for PrintingShop features
 * --------------------------------------------------------------------------- */
.ps-link, .ai-link, .id-link {
  height: 2em;
  width: 2em;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.ps-link:before, .ai-link:before, .id-link:before {
  color: white;
  display: block;
  height: 2em;
  width: 2em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  line-height: 2;
  text-align: center;
}

.ps-link:before {
  background-color: #265fae;
  content: 'Ps';
}

.ai-link:before {
  background-color: #ff8f50;
  content: 'Ai';
}

.id-link:before {
  background-color: #b03876;
  content: 'ID';
}

#content .whistles-tabs .whistles-tabs-nav li a,
.sidebar .whistles-tabs .whistles-tabs-nav li a {
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  border-right-width: 0;
  text-decoration: none;
}
#content .whistles-toggle .whistle-title,
#content .whistles-accordion .whistle-title,
.sidebar .whistles-toggle .whistle-title,
.sidebar .whistles-accordion .whistle-title {
  margin: 0;
  padding: 0.5rem 1.5rem;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  border-top-width: 0;
}
#content .whistles-toggle .whistle-title::before,
#content .whistles-accordion .whistle-title::before,
.sidebar .whistles-toggle .whistle-title::before,
.sidebar .whistles-accordion .whistle-title::before {
  content: "\f0da";
  -webkit-font-smoothing: antialiased;
  font-family: 'FontAwesome';
  font-size: 24px;
  font-size: 2.4rem;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: inherit;
  text-align: center;
  padding-right: .25em;
}
#content .whistles-toggle .whistle-title[aria-selected="true"]::before,
#content .whistles-accordion .whistle-title[aria-selected="true"]::before,
.sidebar .whistles-toggle .whistle-title[aria-selected="true"]::before,
.sidebar .whistles-accordion .whistle-title[aria-selected="true"]::before {
  content: "\f0d7";
}
#content .whistles-toggle .whistle-content,
#content .whistles-accordion .whistle-content,
.sidebar .whistles-toggle .whistle-content,
.sidebar .whistles-accordion .whistle-content {
  background: transparent;
}

/* Primary colour for buttons (alt) */
/* Text on primary colour bg */
/* Secondary buttons */
/* Text on secondary colour bg */
/* Prices, In stock labels, sales flash */
/* Text on highlight colour bg */
.color-bluematte {
  color: #9e896f;
}
.color-bluematte a {
  color: #a9cbcf;
}
.color-bluematte a:visited {
  color: #a9cbcf;
}
.color-bluematte a:focus {
  color: #a9cbcf;
}
.color-bluematte a:hover {
  color: #ff8f50;
}
.color-bluematte a:active {
  color: #a9cbcf;
}
.color-bluematte h1, .color-bluematte h2, .color-bluematte table caption, .color-candy table .color-bluematte caption, .color-linen table .color-bluematte caption, .color-bluematte h3, .color-bluematte h4, .color-bluematte h5, .color-bluematte h6 {
  color: #ffcc14;
}
.color-bluematte h1 a, .color-bluematte h2 a, .color-bluematte table caption a, .color-candy table .color-bluematte caption a, .color-linen table .color-bluematte caption a, .color-bluematte h3 a, .color-bluematte h4 a, .color-bluematte h5 a, .color-bluematte h6 a {
  color: #ffcc14;
}
.color-bluematte h1 a:visited, .color-bluematte h2 a:visited, .color-bluematte table caption a:visited, .color-candy table .color-bluematte caption a:visited, .color-linen table .color-bluematte caption a:visited, .color-bluematte h3 a:visited, .color-bluematte h4 a:visited, .color-bluematte h5 a:visited, .color-bluematte h6 a:visited {
  color: #ffcc14;
}
.color-bluematte h1 a:focus, .color-bluematte h2 a:focus, .color-bluematte table caption a:focus, .color-candy table .color-bluematte caption a:focus, .color-linen table .color-bluematte caption a:focus, .color-bluematte h3 a:focus, .color-bluematte h4 a:focus, .color-bluematte h5 a:focus, .color-bluematte h6 a:focus {
  color: #ffcc14;
}
.color-bluematte h1 a:hover, .color-bluematte h2 a:hover, .color-bluematte table caption a:hover, .color-candy table .color-bluematte caption a:hover, .color-linen table .color-bluematte caption a:hover, .color-bluematte h3 a:hover, .color-bluematte h4 a:hover, .color-bluematte h5 a:hover, .color-bluematte h6 a:hover {
  color: #ff8f50;
}
.color-bluematte h1 a:active, .color-bluematte h2 a:active, .color-bluematte table caption a:active, .color-candy table .color-bluematte caption a:active, .color-linen table .color-bluematte caption a:active, .color-bluematte h3 a:active, .color-bluematte h4 a:active, .color-bluematte h5 a:active, .color-bluematte h6 a:active {
  color: #ffcc14;
}
.color-bluematte h1 {
  color: #ffcc14;
}
.color-bluematte h1 a {
  color: #ffcc14;
}
.color-bluematte h1 a:visited {
  color: #ffcc14;
}
.color-bluematte h1 a:focus {
  color: #ffcc14;
}
.color-bluematte h1 a:hover {
  color: #ff8f50;
}
.color-bluematte h1 a:active {
  color: #ffcc14;
}
.color-bluematte h2, .color-bluematte table caption, .color-candy table .color-bluematte caption, .color-linen table .color-bluematte caption {
  color: #ff8f50;
}
.color-bluematte h2 a, .color-bluematte table caption a, .color-candy table .color-bluematte caption a, .color-linen table .color-bluematte caption a {
  color: #ff8f50;
}
.color-bluematte h2 a:visited, .color-bluematte table caption a:visited, .color-candy table .color-bluematte caption a:visited, .color-linen table .color-bluematte caption a:visited {
  color: #ff8f50;
}
.color-bluematte h2 a:focus, .color-bluematte table caption a:focus, .color-candy table .color-bluematte caption a:focus, .color-linen table .color-bluematte caption a:focus {
  color: #ff8f50;
}
.color-bluematte h2 a:hover, .color-bluematte table caption a:hover, .color-candy table .color-bluematte caption a:hover, .color-linen table .color-bluematte caption a:hover {
  color: #a9cbcf;
}
.color-bluematte h2 a:active, .color-bluematte table caption a:active, .color-candy table .color-bluematte caption a:active, .color-linen table .color-bluematte caption a:active {
  color: #ff8f50;
}
.color-bluematte h3 {
  color: #a9cbcf;
}
.color-bluematte h3 a {
  color: #a9cbcf;
}
.color-bluematte h3 a:visited {
  color: #a9cbcf;
}
.color-bluematte h3 a:focus {
  color: #a9cbcf;
}
.color-bluematte h3 a:hover {
  color: #ffcc14;
}
.color-bluematte h3 a:active {
  color: #a9cbcf;
}
.color-bluematte h4 {
  color: #ffcc14;
}
.color-bluematte h4 a {
  color: #ffcc14;
}
.color-bluematte h4 a:visited {
  color: #ffcc14;
}
.color-bluematte h4 a:focus {
  color: #ffcc14;
}
.color-bluematte h4 a:hover {
  color: #ff8f50;
}
.color-bluematte h4 a:active {
  color: #ffcc14;
}
.color-bluematte h5 {
  color: #ff8f50;
}
.color-bluematte h5 a {
  color: #ff8f50;
}
.color-bluematte h5 a:visited {
  color: #ff8f50;
}
.color-bluematte h5 a:focus {
  color: #ff8f50;
}
.color-bluematte h5 a:hover {
  color: #a9cbcf;
}
.color-bluematte h5 a:active {
  color: #ff8f50;
}
.color-bluematte h6 {
  color: #a9cbcf;
}
.color-bluematte h6 a {
  color: #a9cbcf;
}
.color-bluematte h6 a:visited {
  color: #a9cbcf;
}
.color-bluematte h6 a:focus {
  color: #a9cbcf;
}
.color-bluematte h6 a:hover {
  color: #ffcc14;
}
.color-bluematte h6 a:active {
  color: #a9cbcf;
}
.color-bluematte acronym,
.color-bluematte abbr {
  border-bottom: 1px dotted #ff8f50;
}
.color-bluematte acronym.required,
.color-bluematte abbr.required {
  border-bottom: none;
}
.color-bluematte table caption {
  text-align: left;
  margin-bottom: 0;
}
.color-bluematte tr {
  border-bottom: 1px dotted #a9cbcf;
}
.color-bluematte tr:first-of-type {
  border-top: 1px solid #a9cbcf;
}
.color-bluematte tr thead tr {
  border-bottom: 1px solid #a9cbcf;
}
.color-bluematte .variations tr:first-of-type,
.color-bluematte .variations tr {
  border-top: 0;
  border-bottom: 0;
}
.color-bluematte .variations thead tr {
  border-top: 0;
  border-bottom: 0;
}
.color-bluematte th {
  background-color: #a9cbcf;
  color: white;
}
.color-bluematte input,
.color-bluematte textarea,
.color-bluematte select {
  border-color: #ffcc14;
}
.color-bluematte input[type="button"] {
  background-color: #ffcc14;
}
.color-bluematte input[type="submit"] {
  background-color: #ffcc14;
}
.color-bluematte button {
  background-color: #ffcc14;
}
.color-bluematte label,
.color-bluematte td.label {
  color: #a9cbcf;
}
.color-bluematte .whistles-tabs .whistles-tabs-wrap {
  color: #9e896f;
  background: #d8f0f3;
  border: 1px solid #d8f0f3;
}
.color-bluematte .whistles-tabs .whistles-tabs-nav li a {
  color: #ffcc14;
  background: #ebf7f9;
  border: #d8f0f3;
}
.color-bluematte .whistles-tabs .whistles-tabs-nav li a:hover,
.color-bluematte .whistles-tabs .whistles-tabs-nav li[aria-selected="true"] a {
  color: #ffcc14;
  background: #d8f0f3;
}
.color-bluematte .whistles-toggle .whistle-title,
.color-bluematte .whistles-accordion .whistle-title {
  color: #ffcc14;
  background: #ebf7f9;
  border: 1px solid #ebf7f9;
}
.color-bluematte .whistles-toggle .whistle-title:hover,
.color-bluematte .whistles-toggle .whistle-title[aria-selected="true"],
.color-bluematte .whistles-accordion .whistle-title:hover,
.color-bluematte .whistles-accordion .whistle-title[aria-selected="true"] {
  color: #ffcc14;
  background: #d8f0f3;
  border-color: #d8f0f3;
}
.color-bluematte .whistles-toggle .whistle-content,
.color-bluematte .whistles-accordion .whistle-content {
  color: #9e896f;
  border: 1px solid #d8f0f3;
}

/* Primary colour for buttons (alt) */
/* Text on primary colour bg */
/* Secondary buttons */
/* Text on secondary colour bg */
/* Prices, In stock labels, sales flash */
/* Text on highlight colour bg */
.color-candy {
  color: #575f62;
}
.color-candy a {
  color: #ff847c;
}
.color-candy a:visited {
  color: #ff847c;
}
.color-candy a:focus {
  color: #ff847c;
}
.color-candy a:hover {
  color: #99b898;
}
.color-candy a:active {
  color: #ff847c;
}
.color-candy h1, .color-candy h2, .color-bluematte table .color-candy caption, .color-candy table caption, .color-linen table .color-candy caption, .color-candy h3, .color-candy h4, .color-candy h5, .color-candy h6 {
  color: #e84a5f;
}
.color-candy h1 a, .color-candy h2 a, .color-bluematte table .color-candy caption a, .color-candy table caption a, .color-linen table .color-candy caption a, .color-candy h3 a, .color-candy h4 a, .color-candy h5 a, .color-candy h6 a {
  color: #e84a5f;
}
.color-candy h1 a:visited, .color-candy h2 a:visited, .color-bluematte table .color-candy caption a:visited, .color-candy table caption a:visited, .color-linen table .color-candy caption a:visited, .color-candy h3 a:visited, .color-candy h4 a:visited, .color-candy h5 a:visited, .color-candy h6 a:visited {
  color: #e84a5f;
}
.color-candy h1 a:focus, .color-candy h2 a:focus, .color-bluematte table .color-candy caption a:focus, .color-candy table caption a:focus, .color-linen table .color-candy caption a:focus, .color-candy h3 a:focus, .color-candy h4 a:focus, .color-candy h5 a:focus, .color-candy h6 a:focus {
  color: #e84a5f;
}
.color-candy h1 a:hover, .color-candy h2 a:hover, .color-bluematte table .color-candy caption a:hover, .color-candy table caption a:hover, .color-linen table .color-candy caption a:hover, .color-candy h3 a:hover, .color-candy h4 a:hover, .color-candy h5 a:hover, .color-candy h6 a:hover {
  color: #ff847c;
}
.color-candy h1 a:active, .color-candy h2 a:active, .color-bluematte table .color-candy caption a:active, .color-candy table caption a:active, .color-linen table .color-candy caption a:active, .color-candy h3 a:active, .color-candy h4 a:active, .color-candy h5 a:active, .color-candy h6 a:active {
  color: #e84a5f;
}
.color-candy h1 {
  color: #e84a5f;
}
.color-candy h1 a {
  color: #e84a5f;
}
.color-candy h1 a:visited {
  color: #e84a5f;
}
.color-candy h1 a:focus {
  color: #e84a5f;
}
.color-candy h1 a:hover {
  color: #ff847c;
}
.color-candy h1 a:active {
  color: #e84a5f;
}
.color-candy h2, .color-bluematte table .color-candy caption, .color-candy table caption, .color-linen table .color-candy caption {
  color: #ff847c;
}
.color-candy h2 a, .color-bluematte table .color-candy caption a, .color-candy table caption a, .color-linen table .color-candy caption a {
  color: #ff847c;
}
.color-candy h2 a:visited, .color-bluematte table .color-candy caption a:visited, .color-candy table caption a:visited, .color-linen table .color-candy caption a:visited {
  color: #ff847c;
}
.color-candy h2 a:focus, .color-bluematte table .color-candy caption a:focus, .color-candy table caption a:focus, .color-linen table .color-candy caption a:focus {
  color: #ff847c;
}
.color-candy h2 a:hover, .color-bluematte table .color-candy caption a:hover, .color-candy table caption a:hover, .color-linen table .color-candy caption a:hover {
  color: #99b898;
}
.color-candy h2 a:active, .color-bluematte table .color-candy caption a:active, .color-candy table caption a:active, .color-linen table .color-candy caption a:active {
  color: #ff847c;
}
.color-candy h3 {
  color: #99b898;
}
.color-candy h3 a {
  color: #99b898;
}
.color-candy h3 a:visited {
  color: #99b898;
}
.color-candy h3 a:focus {
  color: #99b898;
}
.color-candy h3 a:hover {
  color: #e84a5f;
}
.color-candy h3 a:active {
  color: #99b898;
}
.color-candy h4 {
  color: #e84a5f;
}
.color-candy h4 a {
  color: #e84a5f;
}
.color-candy h4 a:visited {
  color: #e84a5f;
}
.color-candy h4 a:focus {
  color: #e84a5f;
}
.color-candy h4 a:hover {
  color: #ff847c;
}
.color-candy h4 a:active {
  color: #e84a5f;
}
.color-candy h5 {
  color: #ff847c;
}
.color-candy h5 a {
  color: #ff847c;
}
.color-candy h5 a:visited {
  color: #ff847c;
}
.color-candy h5 a:focus {
  color: #ff847c;
}
.color-candy h5 a:hover {
  color: #99b898;
}
.color-candy h5 a:active {
  color: #ff847c;
}
.color-candy h6 {
  color: #99b898;
}
.color-candy h6 a {
  color: #99b898;
}
.color-candy h6 a:visited {
  color: #99b898;
}
.color-candy h6 a:focus {
  color: #99b898;
}
.color-candy h6 a:hover {
  color: #e84a5f;
}
.color-candy h6 a:active {
  color: #99b898;
}
.color-candy acronym,
.color-candy abbr {
  border-bottom: 1px dotted #ff847c;
}
.color-candy acronym.required,
.color-candy abbr.required {
  border-bottom: none;
}
.color-candy table caption {
  text-align: left;
  margin-bottom: 0;
}
.color-candy tr {
  border-bottom: 1px dotted #99b898;
}
.color-candy tr:first-of-type {
  border-top: 1px solid #99b898;
}
.color-candy tr thead tr {
  border-bottom: 1px solid #99b898;
}
.color-candy .variations tr:first-of-type,
.color-candy .variations tr {
  border-top: 0;
  border-bottom: 0;
}
.color-candy .variations thead tr {
  border-top: 0;
  border-bottom: 0;
}
.color-candy th {
  background-color: #99b898;
  color: white;
}
.color-candy input,
.color-candy textarea,
.color-candy select {
  border-color: #e84a5f;
}
.color-candy input[type="button"] {
  background-color: #e84a5f;
}
.color-candy input[type="submit"] {
  background-color: #e84a5f;
}
.color-candy button {
  background-color: #e84a5f;
}
.color-candy label,
.color-candy td.label {
  color: #99b898;
}
.color-candy .whistles-tabs .whistles-tabs-wrap {
  color: #575f62;
  background: #fecea8;
  border: 1px solid #fecea8;
}
.color-candy .whistles-tabs .whistles-tabs-nav li a {
  color: #e84a5f;
  background: #fedcc1;
  border: #fecea8;
}
.color-candy .whistles-tabs .whistles-tabs-nav li a:hover,
.color-candy .whistles-tabs .whistles-tabs-nav li[aria-selected="true"] a {
  color: #e84a5f;
  background: #fecea8;
}
.color-candy .whistles-toggle .whistle-title,
.color-candy .whistles-accordion .whistle-title {
  color: #e84a5f;
  background: #fedcc1;
  border: 1px solid #fedcc1;
}
.color-candy .whistles-toggle .whistle-title:hover,
.color-candy .whistles-toggle .whistle-title[aria-selected="true"],
.color-candy .whistles-accordion .whistle-title:hover,
.color-candy .whistles-accordion .whistle-title[aria-selected="true"] {
  color: #e84a5f;
  background: #fecea8;
  border-color: #fecea8;
}
.color-candy .whistles-toggle .whistle-content,
.color-candy .whistles-accordion .whistle-content {
  color: #575f62;
  border: 1px solid #fecea8;
}

/* Primary colour for buttons (alt) */
/* Text on primary colour bg */
/* Secondary buttons */
/* Text on secondary colour bg */
/* Prices, In stock labels, sales flash */
/* Text on highlight colour bg */
.color-linen {
  color: #565656;
}
.color-linen a {
  color: #ab8ab3;
}
.color-linen a:visited {
  color: #ab8ab3;
}
.color-linen a:focus {
  color: #ab8ab3;
}
.color-linen a:hover {
  color: #746356;
}
.color-linen a:active {
  color: #ab8ab3;
}
.color-linen h1, .color-linen h2, .color-bluematte table .color-linen caption, .color-candy table .color-linen caption, .color-linen table caption, .color-linen h3, .color-linen h4, .color-linen h5, .color-linen h6 {
  color: #746356;
}
.color-linen h1 a, .color-linen h2 a, .color-bluematte table .color-linen caption a, .color-candy table .color-linen caption a, .color-linen table caption a, .color-linen h3 a, .color-linen h4 a, .color-linen h5 a, .color-linen h6 a {
  color: #746356;
}
.color-linen h1 a:visited, .color-linen h2 a:visited, .color-bluematte table .color-linen caption a:visited, .color-candy table .color-linen caption a:visited, .color-linen table caption a:visited, .color-linen h3 a:visited, .color-linen h4 a:visited, .color-linen h5 a:visited, .color-linen h6 a:visited {
  color: #746356;
}
.color-linen h1 a:focus, .color-linen h2 a:focus, .color-bluematte table .color-linen caption a:focus, .color-candy table .color-linen caption a:focus, .color-linen table caption a:focus, .color-linen h3 a:focus, .color-linen h4 a:focus, .color-linen h5 a:focus, .color-linen h6 a:focus {
  color: #746356;
}
.color-linen h1 a:hover, .color-linen h2 a:hover, .color-bluematte table .color-linen caption a:hover, .color-candy table .color-linen caption a:hover, .color-linen table caption a:hover, .color-linen h3 a:hover, .color-linen h4 a:hover, .color-linen h5 a:hover, .color-linen h6 a:hover {
  color: #ab8ab3;
}
.color-linen h1 a:active, .color-linen h2 a:active, .color-bluematte table .color-linen caption a:active, .color-candy table .color-linen caption a:active, .color-linen table caption a:active, .color-linen h3 a:active, .color-linen h4 a:active, .color-linen h5 a:active, .color-linen h6 a:active {
  color: #746356;
}
.color-linen h1 {
  color: #746356;
}
.color-linen h1 a {
  color: #746356;
}
.color-linen h1 a:visited {
  color: #746356;
}
.color-linen h1 a:focus {
  color: #746356;
}
.color-linen h1 a:hover {
  color: #ab8ab3;
}
.color-linen h1 a:active {
  color: #746356;
}
.color-linen h2, .color-bluematte table .color-linen caption, .color-candy table .color-linen caption, .color-linen table caption {
  color: #ab8ab3;
}
.color-linen h2 a, .color-bluematte table .color-linen caption a, .color-candy table .color-linen caption a, .color-linen table caption a {
  color: #ab8ab3;
}
.color-linen h2 a:visited, .color-bluematte table .color-linen caption a:visited, .color-candy table .color-linen caption a:visited, .color-linen table caption a:visited {
  color: #ab8ab3;
}
.color-linen h2 a:focus, .color-bluematte table .color-linen caption a:focus, .color-candy table .color-linen caption a:focus, .color-linen table caption a:focus {
  color: #ab8ab3;
}
.color-linen h2 a:hover, .color-bluematte table .color-linen caption a:hover, .color-candy table .color-linen caption a:hover, .color-linen table caption a:hover {
  color: #b7a495;
}
.color-linen h2 a:active, .color-bluematte table .color-linen caption a:active, .color-candy table .color-linen caption a:active, .color-linen table caption a:active {
  color: #ab8ab3;
}
.color-linen h3 {
  color: #b7a495;
}
.color-linen h3 a {
  color: #b7a495;
}
.color-linen h3 a:visited {
  color: #b7a495;
}
.color-linen h3 a:focus {
  color: #b7a495;
}
.color-linen h3 a:hover {
  color: #746356;
}
.color-linen h3 a:active {
  color: #b7a495;
}
.color-linen h4 {
  color: #746356;
}
.color-linen h4 a {
  color: #746356;
}
.color-linen h4 a:visited {
  color: #746356;
}
.color-linen h4 a:focus {
  color: #746356;
}
.color-linen h4 a:hover {
  color: #ab8ab3;
}
.color-linen h4 a:active {
  color: #746356;
}
.color-linen h5 {
  color: #ab8ab3;
}
.color-linen h5 a {
  color: #ab8ab3;
}
.color-linen h5 a:visited {
  color: #ab8ab3;
}
.color-linen h5 a:focus {
  color: #ab8ab3;
}
.color-linen h5 a:hover {
  color: #b7a495;
}
.color-linen h5 a:active {
  color: #ab8ab3;
}
.color-linen h6 {
  color: #b7a495;
}
.color-linen h6 a {
  color: #b7a495;
}
.color-linen h6 a:visited {
  color: #b7a495;
}
.color-linen h6 a:focus {
  color: #b7a495;
}
.color-linen h6 a:hover {
  color: #746356;
}
.color-linen h6 a:active {
  color: #b7a495;
}
.color-linen acronym,
.color-linen abbr {
  border-bottom: 1px dotted #ab8ab3;
}
.color-linen acronym.required,
.color-linen abbr.required {
  border-bottom: none;
}
.color-linen table caption {
  text-align: left;
  margin-bottom: 0;
}
.color-linen tr {
  border-bottom: 1px dotted #b7a495;
}
.color-linen tr:first-of-type {
  border-top: 1px solid #b7a495;
}
.color-linen tr thead tr {
  border-bottom: 1px solid #b7a495;
}
.color-linen .variations tr:first-of-type,
.color-linen .variations tr {
  border-top: 0;
  border-bottom: 0;
}
.color-linen .variations thead tr {
  border-top: 0;
  border-bottom: 0;
}
.color-linen th {
  background-color: #b7a495;
  color: white;
}
.color-linen input,
.color-linen textarea,
.color-linen select {
  border-color: #746356;
}
.color-linen input[type="button"] {
  background-color: #746356;
}
.color-linen input[type="submit"] {
  background-color: #746356;
}
.color-linen button {
  background-color: #746356;
}
.color-linen label,
.color-linen td.label {
  color: #b7a495;
}
.color-linen .whistles-tabs .whistles-tabs-wrap {
  color: #565656;
  background: #d5c5b9;
  border: 1px solid #d5c5b9;
}
.color-linen .whistles-tabs .whistles-tabs-nav li a {
  color: #746356;
  background: #dfd2c9;
  border: #d5c5b9;
}
.color-linen .whistles-tabs .whistles-tabs-nav li a:hover,
.color-linen .whistles-tabs .whistles-tabs-nav li[aria-selected="true"] a {
  color: #746356;
  background: #d5c5b9;
}
.color-linen .whistles-toggle .whistle-title,
.color-linen .whistles-accordion .whistle-title {
  color: #746356;
  background: #dfd2c9;
  border: 1px solid #dfd2c9;
}
.color-linen .whistles-toggle .whistle-title:hover,
.color-linen .whistles-toggle .whistle-title[aria-selected="true"],
.color-linen .whistles-accordion .whistle-title:hover,
.color-linen .whistles-accordion .whistle-title[aria-selected="true"] {
  color: #746356;
  background: #d5c5b9;
  border-color: #d5c5b9;
}
.color-linen .whistles-toggle .whistle-content,
.color-linen .whistles-accordion .whistle-content {
  color: #565656;
  border: 1px solid #d5c5b9;
}
