/* editor stylesheet */

@import "compass/css3";
@import "compass/typography";
@import "partials/mixins";
@import "partials/basic";
@import "partials/vars";
@import "partials/images";
@import "partials/forms";
@import "partials/helpers";
@import "partials/features/whistles";

@import "partials/skins/bluematte";
.color-bluematte {
	@import "partials/skins/skins_content";
}
// candy gloss
@import "partials/skins/candy";
.color-candy {
	@import "partials/skins/skins_content";
}
// linen skin
@import "partials/skins/linen";
.color-linen {
	@import "partials/skins/skins_content";
}