/**
 * Generates css for widget boxes background colors
 */

@import "compass/css3";
@import "partials/icons";

@mixin icon-widget-colors( $color: bluematte ) {

	$icons: paper, cards, print, mail, save, disc;
	$sizes: 32;

	@each $icon-type in $icons {
		@each $size in $sizes {
			.ps-icon-#{$icon-type}-bg-#{$size} {
				@include icon-background(#{$size}, #{$icon-type}, #{$color}, '../images');
			}
		}
	}
}

.widget-boxes-color-field {

	input[type="radio"]{	
    	opacity: 0;  
	    width: 30px;
	    height: 30px;
	    display: inline-block;
	}

	input[type="radio"] + label {
	    margin: 10px 0 0 -33px;
    	clear: none;
    	cursor: pointer; 
	    width: 25px;
	    height: 25px;
	    display: inline-block;
	    border: 2px solid transparent;
	    overflow: hidden;
	}

	input[type="radio"]:checked + label {
		border: 2px solid black;
	}
}

.widget-boxes-icon-field {

	input[type="radio"]{	
    	opacity: 0;  
	    width: 32px;
	    height: 32px;
	    display: inline-block;
	}

	input[type="radio"] + label {
		background-color: #ffffff;
	    margin: 12px 0 0 -36px;
    	clear: none;
    	cursor: pointer; 
	    width: 32px;
	    height: 32px;
	    display: inline-block;
	    border: 2px solid transparent;
	    overflow: hidden;
	    color: transparent;
	}

	input[type="radio"]:checked + label {
		border: 2px solid black;
	}
}

@include icon-widget-colors(bluematte);

.bluematte {

	@import "partials/skins/bluematte";

	$color-boxes: $color-box-1, $color-box-2, $color-box-3, $color-box-4;

	@for $i from 1 through length($color-boxes) {
		.box-color-#{$i} {
			background-color: nth($color-boxes, $i);
			color: nth($color-boxes, $i);
		}
	}

}

.candy {

	@import "partials/skins/candy";

	$color-boxes: $color-box-1, $color-box-2, $color-box-3, $color-box-4;

	@for $i from 1 through length($color-boxes) {
		.box-color-#{$i} {
			background-color: nth($color-boxes, $i);
			color: nth($color-boxes, $i);
		}
	}

}

.linen {

	@import "partials/skins/linen";

	$color-boxes: $color-box-1, $color-box-2, $color-box-3, $color-box-4;

	@for $i from 1 through length($color-boxes) {
		.box-color-#{$i} {
			background-color: nth($color-boxes, $i);
			color: nth($color-boxes, $i);
		}
	}

}