
// blue matte

$color-slug: bluematte;

$color-brown-dk: #9e896f;
$color-yellow: #ffcc14;
$color-tan: #f8eeb1;
$color-orange: #ff8f50;
$color-blue-dk: #a9cbcf;
$color-blue-lt: #d8f0f3;

$color-body: $color-brown-dk;
$color-first: $color-yellow;
$color-second: $color-orange;
$color-third: $color-blue-dk;

$color-second-bg: $color-brown-dk;
$color-gray-bg: #f9f9f9;

$color-menu: $color-blue-dk;
$color-menu-hover: $color-brown-dk;
$color-menu-text: #ffffff;
$color-menu-text-hover: $color-blue-dk;

$color-link: $color-blue-dk;
$color-link-hover: $color-orange;
$color-footer-link-hover: $color-orange;

$color-slider-arrows: $color-brown-dk;

$color-primary-menu: $color-brown-dk;
$color-primary-menu-hover:  $color-orange;
$color-primary-menu-border:  $color-blue-lt;

$color-search-form: $color-tan;

$color-box-1: $color-orange;
$color-box-2: $color-yellow;
$color-box-3: $color-blue-dk;
$color-box-4: $color-tan;

$color-titles: ($color-blue-dk,  $color-orange, $color-yellow);

$color-box-color-link-4: $color-brown-dk;

$color-site-bg:  $color-blue-lt;

$color-tabs:  $color-blue-lt;
$color-tabs-light: lighten( $color-tabs, 5%);

$color-social: $color-blue-dk;
$color-social-hover: $color-brown-dk;

$woo-primary: 			$color-blue-dk; 									/* Primary colour for buttons (alt) */
$woo-primarytext: 		desaturate(lighten($woo-primary,50%),18%);		/* Text on primary colour bg */

$woo-secondary: 		$color-orange;		/* Secondary buttons */
$woo-secondarytext:	 	desaturate(darken($woo-secondary,60%),18%);		/* Text on secondary colour bg */

$woo-highlight: 		$color-yellow;			/* Prices, In stock labels, sales flash */
$woo-highlightext:		desaturate(lighten($woo-highlight,50%),18%);	/* Text on highlight colour bg */

$color-cart1: $color-orange;
$color-cart2: $color-brown-dk;
$color-cart3: $color-blue-dk;