// candy gloss skin
// 
$color-slug: candy;

$color-red: #e84a5f;
$color-gray: #575f62;
$color-pink: #ff847c;
$color-green: #99b898;
$color-beige: #fecea8;
$color-beige-lt: #fefcfc;

$color-body: $color-gray;
$color-first: $color-red;
$color-second: $color-pink;
$color-third: $color-green;

$color-second-bg: $color-beige;
$color-gray-bg: #f9f9f9;

$color-menu: $color-gray;
$color-menu-hover: $color-pink;
$color-menu-text: #ffffff;
$color-menu-text-hover: #ffffff;

$color-link: $color-pink;
$color-link-hover: $color-green;
$color-footer-link-hover: $color-green;

$color-primary-menu: $color-gray;
$color-primary-menu-hover:  $color-red;
$color-primary-menu-border:  $color-gray;

$color-search-form: $color-beige;

$color-slider-arrows: $color-gray;

$color-box-1: $color-red;
$color-box-2: $color-pink;
$color-box-3: $color-beige;
$color-box-4: $color-green;

$color-titles: ($color-red, $color-pink, $color-green);

$color-box-color-link-4: #ffffff;

$color-site-bg: #f8f7f7;

$color-tabs: $color-beige;
$color-tabs-light: lighten( $color-tabs, 5%);

$color-social: $color-red;
$color-social-hover: $color-pink;

$woo-primary: 			$color-pink; 									/* Primary colour for buttons (alt) */
$woo-primarytext: 		desaturate(lighten($woo-primary,50%),18%);		/* Text on primary colour bg */

$woo-secondary: 		$color-green;		/* Secondary buttons */
$woo-secondarytext:	 	desaturate(darken($woo-secondary,60%),18%);		/* Text on secondary colour bg */

$woo-highlight: 		$color-red;			/* Prices, In stock labels, sales flash */
$woo-highlightext:		desaturate(lighten($woo-highlight,50%),18%);	/* Text on highlight colour bg */

$color-cart1: $color-red;
$color-cart2: $color-gray;
$color-cart3: $color-pink;