// linen skin

$color-slug: linen;

$color-brown-dk: #746356;
$color-brown: #b7a495;
$color-tan: #d5c5b9;
$color-purple: #ab8ab3;
$color-purple-lt: #d3c6cc;
$color-beige: #e9dace;
$color-beige-lt: #f9f1ea;

$color-body: #565656;
$color-first: $color-brown-dk;
$color-second: $color-purple;
$color-third: $color-brown;

$color-second-bg: $color-brown-dk;
$color-gray-bg: #f9f9f9;

$color-menu: $color-brown;
$color-menu-hover: $color-purple;
$color-menu-text: #ffffff;
$color-menu-text-hover: #ffffff;

$color-link: $color-purple;
$color-link-hover: $color-brown-dk;
$color-footer-link-hover: $color-purple;

$color-primary-menu: $color-brown-dk;
$color-primary-menu-hover:  $color-purple;
$color-primary-menu-border:  $color-beige;

$color-search-form: $color-beige;

$color-slider-arrows: $color-purple;

$color-box-1: $color-brown-dk;
$color-box-2: $color-brown;
$color-box-3: $color-purple-lt;
$color-box-4: $color-beige;

$color-titles: ($color-purple, $color-brown, $color-tan);

$color-box-color-link-4: #ffffff;

$color-site-bg: $color-beige-lt;

$color-tabs: $color-tan;
$color-tabs-light: lighten( $color-tabs, 5%);

$color-social: $color-purple;
$color-social-hover: $color-brown-dk;

$woo-primary: 			$color-brown-dk;									/* Primary colour for buttons (alt) */
$woo-primarytext: 		desaturate(lighten($woo-primary,50%),18%);		/* Text on primary colour bg */

$woo-secondary: 		$color-tan;		/* Secondary buttons */
$woo-secondarytext:	 	desaturate(darken($woo-secondary,60%),18%);		/* Text on secondary colour bg */

$woo-highlight: 		$color-purple;			/* Prices, In stock labels, sales flash */
$woo-highlightext:		desaturate(lighten($woo-highlight,50%),18%);	/* Text on highlight colour bg */

$color-cart1: $color-purple;
$color-cart2: $color-brown-dk;
$color-cart3: $color-brown;