// basics partial

& {
	color: $color-body;
}

a {
	@include link-colors( $color-link, $color-link-hover, $color-link, $color-link, $color-link);
}  

h1, h2, h3, h4, h5, h6 {
	color: $color-first;
	a {
		@include link-colors( $color-first, $color-second, $color-first, $color-first, $color-first );
	}
}


h1 {
	color: $color-first;
	a {
		@include link-colors( $color-first, $color-second, $color-first, $color-first, $color-first );
	}
}

h2 {
	color: $color-second;
	a {
		@include link-colors( $color-second, $color-third, $color-second, $color-second, $color-second );
	}
}

h3 {
	color: $color-third;
	a {
		@include link-colors( $color-third, $color-first, $color-third, $color-third, $color-third );
	}
}

h4 {
	color: $color-first;
	a {
		@include link-colors( $color-first, $color-second, $color-first, $color-first, $color-first );
	}
}

h5 {
	color: $color-second;
	a {
		@include link-colors( $color-second, $color-third, $color-second, $color-second, $color-second );
	}

}

h6 {
	color: $color-third;
	a {
		@include link-colors( $color-third, $color-first, $color-third, $color-third, $color-third );
	}
}

acronym,
abbr {
	border-bottom: 1px dotted $color-second;
	&.required {
		border-bottom: none;
	}
}

table {
	caption {
		@extend h2;
		text-align: left;
		margin-bottom: 0;
	}
}

tr {
	border-bottom: 1px dotted $color-third;
	&:first-of-type {
		border-top: 1px solid $color-third;
	}

	thead tr {
		border-bottom: 1px solid $color-third;
	}
}

.variations {

	tr:first-of-type,
	tr {
		border-top: 0;
		border-bottom: 0;
	}
	thead tr {
		border-top: 0;
		border-bottom: 0;
	}
}

th {
	background-color: $color-third;
	color: white;
}

td {
	
}

// forms partial

input,
textarea,
select {
	border-color: $color-first;
}

input[type="button"] {
	background-color: $color-first;
}

input[type="submit"] {
	background-color: $color-first;
}

button {
	background-color: $color-first;
}

label,
td.label {
	color: $color-third;
}

// whistles
.whistles-tabs {
	.whistles-tabs-wrap {
		color: $color-body;
		background: $color-tabs;
		border: 1px solid $color-tabs;
	}

	.whistles-tabs-nav li a {
		color: $color-first;
		background: $color-tabs-light;
		border: $color-tabs;
	}

	.whistles-tabs-nav li a:hover,
	.whistles-tabs-nav li[aria-selected="true"] a {
		color: $color-first;
		background: $color-tabs;
	}
}

.whistles-toggle,
.whistles-accordion {

	.whistle-title {
		color: $color-first;
		background: $color-tabs-light;
		border: 1px solid $color-tabs-light;
	}

	.whistle-title:hover,
	.whistle-title[aria-selected="true"] {
		color: $color-first;
		background: $color-tabs;
		border-color: $color-tabs;
	}

	.whistle-content {
		color: $color-body;
		border: 1px solid $color-tabs;
	}
}
