/**
 * Skins
 * --------------------------------------------------------------------------- */
// blue matte

@import "bluematte";

.color-bluematte {

	@import "skins_content";
	@import "skins_site";

}

// candy gloss
@import "candy";

.color-candy {

	@import "skins_content";
	@import "skins_site";
}

// linen skin
// 
@import "linen";

.color-linen {

	@import "skins_content";
	@import "skins_site";
}