& {
	background: $color-site-bg url('images/bg-#{$color-slug}.png') repeat-x 0 0;
}

// headers partial

#site-title,
#site-description {
	color: $color-body;
	a {
		@include link-colors( $color-body, $color-second, $color-body, $color-body, $color-body);
	}
}

// menus partial

#menu-primary {
	background: $color-menu;
	color: #ffffff;
}

#menu-primary ul {
	list-style: none;
	margin:     0;
	text-align: center;
}

@media screen and (max-width: $media-triple) {

	.menu-toggle {
		color: $color-second;
		background:   url(images/mobile-menu-icon.png) no-repeat 0 0;
	}

	.menu-toggle:hover,
	.menu-toggle.active {
		color: $color-first;
	}

	#menu-primary {
			
		.wrap {
			border: solid 1px #d5d5d5;
		}

	}
}

@media screen and (min-width: $media-triple) {

	#menu-primary li a {
		color: $color-menu-text;
	}

	#menu-primary li a:hover,
	#menu-primary li:hover > a,
	#menu-primary li.current-menu-item > a {
		color: $color-menu-text-hover;
		background-color: $color-menu-hover;
	}

	#menu-primary li li.current-menu-item > a {
		font-weight: bold;
	}

	#menu-primary li li a {
		color: $color-menu-text;
		background: $color-menu;
	}

	#menu-primary li li a:hover,
	#menu-primary li li:hover > a {
		color: $color-menu-text-hover;
		background: $color-menu-hover;
	}

}

.social-menu {
	li a,
	[class^="fa-"],
	[class*=" fa-"] {
		color: #ffffff;
		@include link-colors( #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
		&:before {
			color: $color-social;
		}
		&:hover:before {
			color: $color-social-hover;
		}
	}
}

// content partial
&.layout-2c-r {
	#main {				
		@media screen and (min-width: $media-triple) {
			background: #ffffff url('images/sidebarbg-#{$color-slug}.png') repeat-y 24.5% 1px; 
		}
	}
}

&.layout-2c-l {
	#main {					
		@media screen and (min-width: $media-triple) {
			background: #ffffff url('images/sidebarbg-#{$color-slug}.png') repeat-y 74.5% 1px; 
		}
	}
}

article.hentry, .loop-description {
	background: transparent url('images/linebg-#{$color-slug}.png') repeat-x 0 100%;
}
article.hentry:last-of-type {
	background-image: none;
}

h1.entry-title {	
	color: $color-first;
}

.entry-byline {
	color: $color-body;
}

.entry-meta {
	color: $color-body;
}

.entry-byline a, .entry-meta a {
	@include link-colors( $color-second, $color-first, $color-second, $color-second, $color-second);
}

.loop-title {
	
}

.page-numbers,
.loop-nav a,
.page-links a {
	background:   $color-third;
	border:     1px solid $color-third;
	color: #ffffff;
}

.loop-nav a,
.page-links a,
a.page-numbers {
	@include link-colors( #ffffff, #ffffff, #ffffff, #ffffff, #ffffff );
}


a.page-numbers:hover,
.loop-nav a:hover,
.page-links a:hover {
	background: $color-second;
	border:     1px solid $color-second;
	color: #ffffff;
}

.page-numbers.current {
	color: $color-body;
}

//slider partial

#home-flexslider .flex-direction-nav .flex-prev,
#home-flexslider .flex-direction-nav .flex-next,
#container .soliloquy-theme-printing-shop .soliloquy-prev,
#container .soliloquy-theme-printing-shop .soliloquy-next {
	background: $color-slider-arrows;
}

.ps-slider-meta {
	h3, div {
		color: $color-slider-arrows;
		a {			
			@include link-colors( $color-slider-arrows, $color-slider-arrows, $color-slider-arrows, $color-slider-arrows, $color-slider-arrows);
		}
	}
}

// comments partial

.comments-closed {
	color: $color-first;
}

li.comment {
	.comment-content {
		background: $color-gray-bg;

		&:after {
			@media screen and (min-width: $media-triple) {
				border-color: transparent $color-gray-bg; 
			}
		}
	}

	&.bypostauthor .comment-content {
		background: $color-second-bg;
		&:after {
			border-color: transparent $color-second-bg; 
		}
	}
}

li.ping {
	background: $color-gray-bg;
}

.primary-sidebar {
	a {
		@include link-colors( $color-primary-menu, $color-primary-menu-hover, $color-primary-menu, $color-primary-menu, $color-primary-menu );	
	}
}

.primary-sidebar .widget.nav-menu {
	a,
	li a,
	li:hover > a {
		@include link-colors( $color-primary-menu, $color-primary-menu-hover, $color-primary-menu, $color-primary-menu, $color-primary-menu );	
	}

	li.current-menu-item > a {
		@include link-colors( $color-primary-menu-hover, $color-primary-menu, $color-primary-menu-hover, $color-primary-menu-hover, $color-primary-menu-hover );	
	}

	.widget-wrap > nav > ul > li,
	.widget-wrap > div > ul > li {
		border-bottom: 1px dotted $color-primary-menu-border;
	}
}

form#search-formhybrid-search,
.widget.search form {
	background-color: $color-search-form;
	input[type="submit"],
	#search-submithybrid-search {
		border: 1px solid $color-primary-menu-hover;
		color: transparent;
		background: $color-primary-menu-hover url('images/search.png') 50% 50% no-repeat;
	}
}

.widget.search .search-text,
.widget.search #s {
	color: $color-body;
}

// sidebars 

#wp-calendar thead {
	border-top: 1px solid $color-body;
}

#wp-calendar thead,
#wp-calendar tbody {
	border-left: 1px solid $color-body;
}

#wp-calendar thead th {
	background: $color-second;
	color:      $color-body;
}

#wp-calendar tbody a {
	display:     block;
	font-weight: bold;
}

#sidebar-footer {

	.widget-title {
		color: nth($color-titles, 1);
	}

	@for $i from 1 through length($color-titles) {
		.widget:nth-child(3n-#{3-$i}) .widget-title {
			color: nth($color-titles, $i);
		}
	}

	a {
		@include link-colors( $color-body, $color-second, $color-body, $color-body, $color-body);
	}
}

#sidebar-footer-right {

	.widget-title {
		color: nth($color-titles, 2);
	}

	$childs: ('3n-0', '3n-2', '3n-1');

	@for $i from 1 through length($color-titles) {
		.widget:nth-child(#{nth($childs, $i)}) .widget-title {
			color: nth($color-titles, $i);
		}
	}

	a {
		@include link-colors( $color-body, $color-first, $color-body, $color-body, $color-body);
	}
}

.hot_off_press_widget {
	.widget-title {
		color: $color-second;
	}
}

.ps_box_widget,
.ps_box_sm_widget,
#sidebar-subsidiary .ps_box_widget,
#sidebar-subsidiary .ps_box_sm_widget  {
	a {
		@include link-colors( #ffffff, #ffffff, #ffffff, #ffffff, #ffffff );
	}
	.box-color-4 a {
		@include link-colors( $color-box-color-link-4, $color-box-color-link-4, $color-box-color-link-4, $color-box-color-link-4, $color-box-color-link-4 );
	}
}

.box-color-1 {
	background-color: $color-box-1;
}

.box-color-2 {
	background-color: $color-box-2;
}

.box-color-3 {
	background-color: $color-box-3;
}

.box-color-4 {
	background-color: $color-box-4;
}

.header-cart-button {
	&:before {
		background-image: url(images/icons-alt-96-#{$color-slug}.png);
	}
	.items {
		color: $color-cart1;
	}
	.item-label {
		color: $color-cart2;
	}
	.total {
		color: $color-cart3;
	}
}

.icon-cart .header-cart-button:before {
	color: $color-cart2;
	background-image: none;
}

// footer partial

#footer {
	background: transparent url('images/footer-#{$color-slug}.png') bottom left repeat-x;
	color: $color-body;
	a {
		@include link-colors( $color-body, $color-footer-link-hover, $color-body, $color-body, $color-body );
		text-decoration: none;
	}

	#footer-callout {
		strong {
			color: $color-first;
		}
	}
}

// skin
a.button, button.button, input.button, #respond input#submit, #content input.button {
	background-color: $color-first;
	&:hover {
		background-color: $color-second;
	}
}

// woocommerce partial
&.woocommerce, &.woocommerce-page {

 	ul.products {
 		li.product {
		 	.price {
				color: $woo-secondary;
				del {
					color:fade( desaturate( $woo-highlight, 75% ), 50% );
				}
				.from {
					color:fade( desaturate( $woo-highlight, 75% ), 50% );
				}
			}

			form.cart .variations label {
				color: $woo-primary;
			}

			form.cart .button {
				border-color: $woo-primary;
				background-color: $woo-primary;
				&:hover {
					border-color: $woo-secondary;
					background-color: $woo-secondary;
				}
			}
		}

		a:hover h3 {
			color: $color-link-hover;
		}

	}

	.woocommerce-tabs ul.tabs li.active {
		text-shadow: 0 0 0;
		background: $woo-primary;
		border-color: $woo-primary;
	}

	.woocommerce-tabs ul.tabs li {
		text-shadow: 0 0 0;
		background: $woo-highlight;
		border-color: $woo-highlight;
		color: #ffffff;	

	}

	.woocommerce-tabs ul.tabs li a {
		text-shadow: 0 0 0;
		@include link-colors( $woo-secondary, #ffffff, $woo-secondary, $woo-secondary, $woo-secondary );
	}

	.woocommerce-tabs ul.tabs li.active a {
		@include link-colors( #ffffff, $woo-secondary, #ffffff, #ffffff, #ffffff );
	}

	span.onsale {
		@include woo_vertical_gradient( lighten( $woo-highlight, 10), $woo-highlight );
		@include woo_text_shadow( 0, -1px, 0, $woo-highlight );
		color: $woo-highlightext;
		@include background-image(linear-gradient(center top, lighten($woo-highlight, 10%), $woo-highlight));
	}

	div.upsells,
	div.related {
		clear:both;
	}

	.widget_price_filter {
		.ui-slider .ui-slider-range {
			background-color: $woo-primary;
		}
		.price_slider_wrapper .ui-widget-content {
			@include border-radius(1em);
			@include woo_vertical_gradient( $woo-primary, lighten( $woo-primary, 30 ) );
		}
		.ui-slider .ui-slider-handle {
			@include background-image(linear-gradient(center top, lighten($woo-primary, 10%), $woo-primary));
			border: 1px solid darken( $woo-primary, 50 );
			@include woo_vertical_gradient( $woo-primary, darken( $woo-primary, 10 ));
		}
	}

	.widget_layered_nav_filters ul li {
		padding: 0 3px 3px 0;
		a {
			background: $woo-secondary url(images/cross_white.png) no-repeat 6px center;
		}
	}
	
	.widget_layered_nav {
		ul {
			li.chosen {
				a {
					border: 1px solid $woo-primary;
					background-color: $woo-primary;
					@include link-colors( $woo-highlight, $woo-secondary, $woo-highlight, $woo-highlight, $woo-highlight);
				}
			}
		}
	}

	.star-rating {
		&:before {
			color: $woo-primary;
		}
	}

	span.price, p.price {
		color: $woo-highlight;
	}

	table.shop_attributes .alt th {
		color: $color-first;
	}
}

#reviews #comments ol.commentlist li .comment-text {
	border: 1px solid $woo-secondary;
}

.woocommerce.woocommerce-page #container,
.woocommerce-cart.woocommerce-page #container,
.woocommerce-checkout.woocommerce-page #container {

	a.button,
	input.button,
	#respond input#submit,
	a.button.alt,
	input.button.alt,
	button.button.alt,
	#respond input#submit.alt,
	.cart-collaterals .shipping_calculator .button,
	button.button {
		background-color: $woo-primary;
		&:visited, &:active {
			background-color: $woo-primary;
		}
		&:hover {
			background: $woo-secondary;
		}
	}

	ul.products {		
		a.button {
			background-color: $woo-highlight;
			&:visited, &:active {
				background-color: $woo-highlight;
			}
			&:hover {
				background: $woo-primary;
			}
		}
	}

	div.widget_shopping_cart_content a.button {
		background-color: $woo-primary;
		&:visited, &:active {
			background-color: $woo-primary;
		}
		&:hover {
			background: $woo-highlight;
		}
	}

	.woocommerce-message {
		border-top: 3px solid $woo-primary;
	}

	.woocommerce-message:before {
		background-color: $woo-primary;
	}

	.woocommerce-info {
		border-top: 3px solid $woo-secondary;
	}

	.woocommerce-info:before {
		background-color: $woo-primary;
	}

	.woocommerce-error {
		border-top: 3px solid $woo-primary;
	}

	.woocommerce-error:before {
		background-color: $woo-secondary;
	}

}

.star-rating span {
	color: $woo-secondary;
}

.woocommerce-cart.woocommerce-page #container {

	a.button,
	input.button,
	#respond input#submit {
		background-color: $woo-primary;
		&:active, &:visited {
			background-color: $woo-primary;
		}
		&:hover {
			background-color: $woo-secondary;
			text-shadow: none;
		}
	}

}

.woocommerce-message, .woocommerce-error, .woocommerce-info {
	background: $woo-highlight;
	color: #ffffff;
	a {
		@include link-colors(#ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
	}
}

p.demo_store {
	@include woo_vertical_gradient( $woo-primary, darken($woo-primary, 10) );
	border: 1px solid darken($woo-primary, 10);
	color: $woo-primarytext;
}

.woocommerce {

	.cart_totals {
		td,
		th {
			color: $color-body;
		}
		tr {
			border-top: 0;
			border-bottom: 0;
		}
		.total .amount {
			@include font-size(48);
			color: $color-first;

		}
	}
	#payment {
		background: $woo-highlight;
		label {
			color: $color-body;
		}
		a {
			@include link-colors($color-body, $color-body, $color-body, $color-body, $color-body);
		}

		ul.payment_methods {
			border-bottom: 1px solid darken( $woo-highlight, 10 );
		}

		div.form-row {
			border-top: 1px solid lighten( $woo-highlight, 5 );
		}

		div.payment_box {
			&:after {
				content: "";
				display:block;
				border: 8px solid darken( $woo-secondary, 5 ); /* arrow size / color */
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position:absolute;
				top: -3px;
				left: 0;
				margin: -1em 0 0 2em;
			}
		}

	}

	.order_details {
		li {
			border-right: 1px dashed darken( $woo-secondary, 10 );
		}
	}

	form.login, form.checkout_coupon, form.register {
		border: 1px solid $woo-secondary;
	}
}