@include unsemantic-grid-placeholders;

body {
	overflow-x: hidden;
	padding-top: 80px;
}

#container > .wrap,
#footer > .wrap {
	@extend %grid-container;
	position: relative;
}

#container > .wrap {
	padding-left: $gutter-half * 2;
	padding-right: $gutter-half * 2;
}

#main,
#header,
#sidebar-primary,
#sidebar-subsidiary,
#footer-left,
#footer-right,
.page-template-home #content,
#sidebar-home-two,
#sidebar-home-three,
#sidebar-home-three .widget.hot_off_press_widget,
.hot-off-press-features,
#footer > .wrap > .wrap,
#footer-left,
#footer-right,
#sidebar-footer,
.header-widget .widget_shopping_cart .widget-wrap,
.woocommerce ul.products {
	@extend %grid-parent;
	@extend %grid-columns-all;
	@extend %grid-100;
}

#main {
	padding: $gutter-half * 2 $gutter-half / 2;
}

#content,
#menu-primary,
.hot-off-press-features > div,
#sidebar-home-one,
#sidebar-home-two .widget,
#sidebar-home-three .widget,
#sidebar-primary .widget,
#sidebar-subsidiary .widget,
#sidebar-footer .widget,
.header-widget #branding
.header-widget #sidebar-header,
.woocommerce ul.products li.product {
	@extend %grid-columns-all;
	@extend %grid-100;
}

#sidebar-home-three .widgettitle {
	padding-left: $gutter-half / 2;
	padding-right: $gutter-half / 2;
	text-align: center;
}

.loop-pagination,
.loop-nav {
	margin-bottom: 50px;
}

.has-footer-callout {
	#footer-callout:after {
		display: block;
		content: "";
		height: 7.5em;
	}
}

.footer-content {
	position: absolute;
	bottom: 0;
}

/** ninja **/
.field-wrap.label-left {	
	> label,
	&.profile_pass-wrap > div > label {
		@include inline-block;
		width: 100%;
	}
	&.textarea-wrap > label {
		vertical-align: top;
	}
	#pass-strength-result {
		float: none;
		text-align: center;
	}
	.description.indicator-hint {
		clear: both;
	}
}

.ps-slider-meta {
	h3 {
		@include font-size(24);
	}
	div {
		display: none;
	}
}