@include unsemantic-grid-placeholders(double);

#sidebar-home-two .widget,
#sidebar-subsidiary .widget,
#sidebar-footer .widget {
	@extend %double-grid-50;
	clear: none;
	&:nth-of-type(2n-1) {
		clear:both;
	}
}

.hot-off-press-features > div {
	@extend %double-grid-50;
	clear: none;
	&:nth-of-type(2n-1) {
		clear:both;
	}
}

#sidebar-subsidiary:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.header-widget #branding {
	@extend %double-grid-75;
	clear: none;	
}

.header-widget #sidebar-header {
	@extend %double-grid-25;
	clear: none;	
}

/** ninja **/
.field-wrap.label-left {	
	> label,
	&.profile_pass-wrap > div > label {
		width: 50%;
	}
}

.woocommerce ul.products li.product {
	@extend %double-grid-33;
	clear: none;
	&:nth-of-type(3n-2) {
		clear:both;
	}
}