@include unsemantic-grid-placeholders(full);

.header-widget #branding {
	@extend %full-grid-66;
	clear: none;	
}

.header-widget #sidebar-header {
	@extend %full-grid-33;
	clear: none;	
}
#sidebar-subsidiary .widget,
#sidebar-footer .widget {
	@extend %full-grid-25;
	clear: none;
	&:nth-of-type(4n+0) {
		clear: none;
	}
	&:nth-of-type(4n-3) {
		clear:both;
	}
}

.hot-off-press-features > div {
	@extend %full-grid-33;
	&:nth-of-type(2n-1) {
		clear:none;
	}
	&:nth-of-type(3n-2) {
		clear:both;
	}
}

#sidebar-home-three .widgettitle {
	text-align: left;
}

#footer > .wrap > .wrap {
	padding-left: 2em;
	padding-right: 2em;
	
}

#footer .wrap {
	#footer-left {
		clear: none;
		@extend %full-grid-66;
	}
	#footer-right {
		clear: none;
		@extend %full-grid-33;
		padding-left: 2.5em;
		float: right;
	}
}

.footer-content {
	position: absolute;
	bottom: 0;
	max-width: 60%;
}

.woocommerce ul.products li.product {
	@extend %full-grid-25;
	clear: none;
	&:nth-of-type(3n-2) {
		clear:none;
	}
	&:nth-of-type(4n-3) {
		clear:both;
	}
}