/**
 * Layout
 * --------------------------------------------------------------------------- */

@import "unsemantic/assets/sass/partials/unsemantic-vars";
@import "unsemantic/assets/sass/partials/unsemantic-ie-snap";

@media screen {
	@import "base";
}

@media screen and (min-width: $media-double) {
	@import "double";
}

@media screen and (min-width: $media-triple) {
	@import "triple";
}

@media screen and (min-width: $media-full) {
	@import "full";
}