@include unsemantic-grid-placeholders(triple);

#menu-primary {
	.menu-toggle {
		display: none;
	}
}

.layout-1c {
	
}

.layout-2c-r {
	#content {
		@extend %triple-grid-columns-push-pull;
		@extend %triple-grid-75;
		@extend %triple-push-25;
	}

	#sidebar-primary {
		@extend %triple-grid-columns-push-pull;
		@extend %triple-grid-25;
		@extend %triple-pull-75;
		clear: none;	
		padding-right: $gutter-half;
	}	
}

.layout-2c-l {
	#content {
		@extend %triple-grid-columns-push-pull;
		@extend %triple-grid-75;
		padding-right: $gutter-half;
	}

	#sidebar-primary {
		@extend %triple-grid-columns-push-pull;
		@extend %triple-grid-25;
		clear: none;	
		padding-left: $gutter-half;
	}
}

#sidebar-footer .widget {
	@extend %triple-grid-33;
	&:nth-of-type(2n-1) {
		clear:none;
	}
	&:nth-of-type(3n-2) {
		clear:both;
	}
}


#sidebar-subsidiary .widget {
	@extend %triple-grid-33;
	&:nth-of-type(2n-1) {
		clear:none;
	}
	&:nth-of-type(3n-2) {
		clear:both;
	}
	&:nth-of-type(3n) {
		clear: none;
	}
}

#footer-callout {
	position: absolute;
	right: 0;
	bottom: 0;
	background: transparent url('images/shop-bluematte.png') 0 0 no-repeat;
	width: 360px;
	height: 252px;
	overflow: hidden;
	@include box-sizing(border-box);
	padding-top: 95px;
	padding-left: 50px;
	.wrap {		
		display: table-cell;
		vertical-align: middle;
		p {
			margin: 0;
		}
		width: 150px;
		height: 120px;
	}
}

.has-footer-content {

	#sidebar-footer-right:after {
		display: block;
		content: "";
		height: 50px;
	}

	#sidebar-footer:after {
		display: block;
		content: "";
		height: 50px;
	}
}

.has-footer-callout {
	margin-bottom: 0;

	> .wrap {
		min-height: 262px;
	}

	#sidebar-footer-right:after {
		display: block;
		content: "";
		height: 252px;
	}
}

.footer-content {
	max-width: 50%;
}

.color-candy #footer-callout {
	background: transparent url('images/shop-candy.png') 0 0 no-repeat;
}

.color-linen #footer-callout {
	background: transparent url('images/shop-linen.png') 0 0 no-repeat;
}

.ps-slider-meta {
	h3 {
		@include font-size(36);
	}
	div {
		display: block;
	}
}