/**
 * Basics
 * --------------------------------------------------------------------------- */

/* === HTML === */

//http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*:before,
*:after {
	@include box-sizing('border-box');
}

html {
	font-size: $base-font;
	width: auto;
}

/* === Body === */

body {
	@include font-size(16);
	line-height: 1.7;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

p {
	word-wrap: break-word;
	margin: 0 0 1.5em 0;
}

/* === Links === */  

a:hover {
	text-decoration: none;
}

/* === Headers === */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
	margin: 0 0 .5em 0;
	text-transform: lowercase;
}


h1 {
	@include font-size(48);
}

h2 {
	@include font-size(30);
}

h3 {
	@include font-size(24);
}

h4 {
	@include font-size(22);
}

h5 {
	@include font-size(20);
}

h6 {
	@include font-size(16);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}

/* === Blockquotes, quotes, and cites === */

blockquote {
	margin: 0;
	//pixel padding to make sure quote bg fits
	padding: 8px 25px 0 50px;
	font-style: normal;
	background: url(images/quotes.png) no-repeat 0 0;
}

blockquote em, blockquote cite {
	font-style: italic;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

/* === Acronyms and abbreviations === */

acronym {
	font-variant: small-caps;
}

/* === Code and Preformatted text === */

code {
	padding:    1px 3px;
	color:      #111;
	background: #eee;
}

pre {
	padding:    2em;
	background: #ccc;
	border:     1px solid #ddd;
	margin-bottom: 2em;
}

pre code {
	padding:    0;
	background: transparent;
}

li.comment pre {
	background-color: #ccc;
}

/* === <address> tag === */

address {
	margin-bottom: 1.5em;
}

/* === Lists === */

ol, ul {
	list-style: none;
}

ul {
	list-style: disc;
	margin: 0 0 2em 2.5em;
}

ol {
	list-style-type: decimal;
	margin: 0 0 2em 3em;
}

ol ol {
	list-style: upper-roman;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: upper-alpha;
}

ol ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 0 2em .5em;
}

dl dt {
	font-weight: bold;
	margin: 1em 0 0 0;
}

dl dd {
	margin: .5em 0 0 1.5em;
}


/* === Tables === */

table {
	width:         100%;
	border-bottom: none;
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

table caption {
	margin:       0 0 5px;
}

th,
td {
	padding: 0.5em;
	text-align: center;
	&:first-of-type {
		text-align: left;
	}
}

#content table {
	@include font-size(15);
}

/* === Embeds === */

object {
	max-width: 100%;
}

embed {
	max-width: 100%;
}

iframe {
	max-width: 100%;
}

video {
	max-width: 100%;
}

/* === Alignement (WP classes) === */

.alignleft, .left {
	float: left;
	margin-right:  10px;
}

.alignright, .right {
	float: right;
	margin-left: 10px;
}

.aligncenter, .center {
	display: block;
	margin: 0 auto 15px auto;
}

.alignnone, .block {
	clear: both;
	margin: 0 0 15px 0;
}

img.alignleft, img.alignright {
	display: inline;
}

/* === search === */
.assistive-text, .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}