/**
 * Comments Template
 * --------------------------------------------------------------------------- */

#comments-template {}

#comments {
	position: relative;
	margin: 0 0 4em;
}

/* === Comments closed message === */

.comments-closed {
	padding: 2em 0 0;
	font-style: italic;
	text-align: center;
}

/* === Comment list === */

ol.comment-list {
	list-style: none;
	margin: 0 0 25px;
}

ol.comment-list ol.children {
	list-style:  none;
	margin: -5px 0 0 5px;
	padding: 5px 0 0 5px;
	@media screen and (min-width: $media-double) {
		margin: -25px 0 0 25px;
		padding: 25px 0 0 25px;
	}
}

/* === Individual comments */

li.comment,
li.ping {
	clear: both;
	position:relative;

	&.has-avatar img.avatar {
		float: left;
		margin-right: 10px;
	}
}

// bubbles http://nicolasgallagher.com/pure-css-speech-bubbles/demo/

li.comment {
	.comment-content {
		clear: both;
		position:relative;
		padding:15px;
		margin:1em 0 3em 40px;
		@include border-radius (10px);

		&:after {
			@media screen and (min-width: $media-triple) {
				content:"";
				position:absolute;
				border-style:solid;
				/* reduce the damage in FF3.0 */
				display:block; 
				width:0;
				top:10px; 
				left:-40px; /* value = - border-left-width - border-right-width */
				bottom:auto;
				border-width:1px 40px 15px 0px; /* vary these values to change the angle of the vertex */
			}
		}
	}

	&.has-avatar .comment-content {
		@media screen and (min-width: $media-triple) {
			margin-left: 130px;
		}
	}

	iframe {
		max-width: 100%;
	}

	abbr {
		border-bottom: none;
	}
}

li.ping {
	clear: both;
	position:relative;
	padding:15px;
	margin:1em 0 3em 0;
	@include border-radius (10px);
}

/* === Avatars === */

li.ping .avatar {
	float:  right;
	margin: 0 0 25px 25px;
}

/* === Meta === */

.comment-meta {
	padding: 0;
	margin:  0 0 2em;
}

.comment-author {
	display: block;
}

.comment-author cite {
	
}

/* === Comment text/content === */

.comment-text {
	clear:     left;
	word-wrap: break-word;
	margin:    0 0 2em;
	padding:   2em 2em 0 2em;
	border:    1px solid #efefef;
}

li.bypostauthor > .comment-text {
	background:   #f5f5f5;
	border-color: #e5e5e5;
}

/* === Reply link === */

.comment-reply-link {
	@include inline-block;
	position:   relative;
	float:      right;
	margin:     -2em 0.5em 2em 0;
	padding:    0.25em 2em;
	@include font-size(10);
	font-style: italic;
}

/* ====== RESPOND (COMMENT FORM) ====== */

#respond {}

#reply-title small {
	@include font-size(14);
}

#respond .log-in-out {}

#respond .log-in-out a {
	font-style: normal;
}

#respond label {
	font-style: italic;
}

#respond label .required {
	@include font-size(14);
	font-weight: bold;
	color: #cb5700;
}

#respond input[type="text"],
#respond input[type="password"],
#respond input[type="email"],
#respond textarea {
}

#respond input[type="submit"] {

}

#respond input[type="text"]:focus,
#respond input[type="password"]:focus,
#respond input[type="email"]:focus,
#respond input[type="submit"]:hover,
#respond input[type="submit"]:focus,
#respond textarea:focus {

}

#respond input[type="text"],
#respond input[type="password"],
#respond input[type="email"],
#respond input[type="url"] {
	display:   block;
	width: 100%;
	@media screen and (min-width: $media-triple) {
		width:     50%;
	}
}

#respond textarea {
	width:   90%;
	padding: 2em;
	display: block;
}



/* === Comments pagination === */

.comments-nav {
	position: relative;
	margin: -60px 0 35px;
	text-align: right;
}

.comments-nav a {
	font-size: 0.9375rem;
}

.comments-nav .page-numbers {
	margin:     0 5px;
	padding:    0;
	font-style: italic;
	font-size:  0.875rem;
	color:      #959595;
	background: transparent;
	border:     none;
}