/**
 * Content
 * --------------------------------------------------------------------------- */
 
#main {
	background-color: #ffffff;

	ol, ul {
		overflow: hidden;
		padding-left: 2em;
		margin: 0 0 2em 0;
		li {
			list-style-position: outside;
	 		padding-left: 0;
		}
	}

	ul ul,
	ol ol {
		margin-bottom: 0;
	}
}

/* ====== BREADCRUMBS ====== */

.breadcrumb-trail {
	word-wrap: break-word;
	margin: 0 0 1.1em;
	padding-top: 10px;
}

.breadcrumb-trail .trail-begin {}

.breadcrumb-trail .trail-end {}

.breadcrumb-trail .sep {}

.breadcrumb-trail a {}
.breadcrumb-trail a:hover {}

/* ====== POSTS ====== */

.hentry {
	@include clearfix;
	&.product {
		overflow: visible;
	}
}

.hentry {
	margin: 0 0 1em;
	padding: 0 0 1.5em 0;
}

.loop-meta, .attachment-meta {
	margin: 0 0 1em;
	padding: 0;
}

.sticky {
	/* no special styles */
}

/* === Post Header === */

.entry-title { 
	word-wrap: break-word;
}

h1.entry-title {		
	@include font-size(48);
}

.entry-byline {
	margin-bottom: 1em;
	@include font-size(14);

	abbr {
		border-bottom: none;
	}
	text-transform: lowercase;
	.author,
	.published {
		text-transform: none;
	}
}

.entry-meta {
	text-transform: lowercase;
}

.entry-byline a, .entry-meta a {
	text-decoration: none;

	 .published {}
}
/* === Post content and excerpts === */

.entry-content {

	.singular & {
		@include clearfix;
	}
}

.entry-summary {
	p {
		margin-bottom: 1em;
	}
	.thumbnail {
		float: left;
		margin: 0 10px 10px 0;
	}
	@include clearfix;
}

/* === Post Footer === */

.entry-footer {
	.singular & {
		margin-top: 1em;
	}
}

.entry-meta {
	@include font-size(14);

	a {}
	a:hover {}

	.published {}

	.category {}
	.post_tag {}
}

/* === Asides === */

.format-aside {}

.format-aside .entry-content a.permalink {}

/* === Chats === */

.format-chat {
	.chat-row {}

	.chat-text {}

	cite {}

	.chat-speaker-1 {}
	.chat-speaker-2 {}
	.chat-speaker-3 {}
	.chat-speaker-4 {}
	.chat-speaker-5 {}
	.chat-speaker-6 {}
	.chat-speaker-7 {}
	.chat-speaker-8 {}
	.chat-speaker-9 {}
}

/* === Links === */

.format-link {
	.entry-title {}

	.entry-title a {}
	.entry-title a:hover {}

	.entry-title a .meta-nav {}
}

/* === Galleries === */

.format-gallery {
	 .image-count {}
}

/* === Quotes === */

.format-quote {

	blockquote {}

	blockquote cite {}
}

/* === Status updates === */

.format-status {
	.avatar {}
}

/* === Audio and Video === */

.format-video {}
.format-audio {}


/* ====== Attachment Meta (on image attachment pages) ====== */

.attachment-meta {
	.image-gallery {}
	.image-info {}
}

.image-info {
	
	ul {}

	ul li {}

	.prep {}

	.image-data {}
}


/* ====== LOOP META ====== */

.loop-meta {}

.loop-title {
	@extend %title !optional;
	margin-bottom: 0.25em;
}

.loop-description {
	padding: 0 0 0.5em 0;
}

/* ====== PAGINATION ====== */

/* === Single posts using <!--nextpage--> === */

.page-links {
	clear: both;
}

.page-links .before {
	margin-right: 5px; 
}

.page-links a {
	@include inline-block;
	margin:     0 5px;
	padding:    5px 15px;
	@include box-sizing('border-box');
}

.sticky .page-links a {
}

.page-links a:hover {
}

/* === Archive-type pages and single post navigation (between different posts) === */

.loop-pagination,
.loop-nav {
	clear: both;
	margin: 0;
	@include font-size(13);
	text-align:  center;
	padding-bottom: 1em;
}

.page-numbers,
.page-links a,
.loop-nav a {
	@include link-button();
	line-height: 2;
}

.loop-nav a[rel="prev"] {
	float:  left;
	margin: 0;
}

.loop-nav a[rel="next"] {
	float:      right;
	margin:     0;
	text-align: right;
}

a.page-numbers:hover,
.loop-nav a:hover {
	color: #fff;
}

.page-numbers.current {
	font-weight: bold;
}

.ps-read-more {
	text-align: right;
	float: right;
}