/**
 * Footer
 * --------------------------------------------------------------------------- */

#footer {

	> .wrap {
		min-height: 225px;
	}

	#footer-callout {
		@include font-size(14);
	}

	.footer-content {
		padding-bottom: 2em;
	}

	p {
		margin: 1.5em 0 0 0;
	}

}