/**
 * form styles
 * --------------------------------------------------------------------------- */


form {
	margin-bottom: 2em;
}

fieldset {}

fieldset legend {}

label,
td.label {
	text-transform: lowercase;
}

input,
textarea,
select {
	@extend %input;
	max-width: 100%;
}

input,
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
isindex {
	border: 1px solid #000;
}

select,
input[type="file"] {
	padding: .5em;
	max-width: 100%;
}

input[type="checkbox"] {}
input[type="radio"] {}

input[type="submit"],
input[type="button"],
input[type="reset"]{
	@include link-button();
	border: 0;
	@include box-shadow (none);
}

textarea {}

select {}

select optgroup {}

select option {}

button {
	@include link-button();
}

