/**
 * Clearing Floats
 * --------------------------------------------------------------------------- */

.clearfix::after {
	content:    ".";
	display:    block;
	height:     0;
	clear:      both;
	visibility: hidden;
}

/**
 * Assistive text
 * --------------------------------------------------------------------------- */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Special Classes for PrintingShop features
 * --------------------------------------------------------------------------- */
.ps-link, .ai-link, .id-link {
	height: 2em;
	width: 2em;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	&:before {
		color: white;
		display: block;
		height: 2em;
		width: 2em;
		@include inline-block;
		line-height: 2;
		text-align: center;
	}
}

.ps-link {
	&:before {
		background-color:  #265fae;
		content: 'Ps';
	}
}

.ai-link {
	&:before {
		background-color:  #ff8f50;
		content: 'Ai';
	}
}

.id-link {
	&:before {
		background-color:  #b03876;
		content: 'ID';
	}
}