// mixins for icons

@mixin icon-background ($imgsize, $icon: paper, $color: '', $url: images) {

  $icons: paper, cards, print, mail, save, disc;
  $imgsizenum: 1;
  // no idea why this won't eval to a number
  @if ($imgsize == '32') {
  	$imgsizenum: 32;
  } @else if ($imgsize == '64') {
  	$imgsizenum: 64;
  } @else if ($imgsize == '128') {
  	$imgsizenum: 128;
  } @else if ($imgsize == '192') {
  	$imgsizenum: 192;
  }

  @if $color == bluematte {
    background-image: url(#{$url}/icons-#{$color}-#{$imgsize}.png);
  } @else if $color == candy {
    background-image: url(#{$url}/icons-#{$color}-#{$imgsize}.png);
  } @else if $color == linen {
    background-image: url(#{$url}/icons-#{$color}-#{$imgsize}.png);
  } @else {
    background-image: url(#{$url}/icons-#{$imgsize}.png);
  }
  @if $icon == paper {
  	background-position: 0 0;
  } @else if $icon == mail {
  	background-position: 0 -#{$imgsize}px;
  } @else if $icon == cards {
  	background-position:  -#{$imgsize}px 0;
  } @else if $icon == save {
  	background-position: -#{$imgsize}px -#{$imgsize}px;
  } @else if $icon == print {
  	background-position: -($imgsizenum * 2)+px 0;
  } @else if $icon == disc {
  	background-position: -($imgsizenum * 2)+px -#{$imgsize}px;
  }
  background-repeat: no-repeat;
}

@mixin icon-colors( $color: '' ) {

	$icons: paper, cards, print, mail, save, disc;
	$sizes: 128;

	@each $icon-type in $icons {
		@each $size in $sizes {
			.ps-icon-#{$icon-type}-bg-#{$size} {
				@include icon-background(#{$size}, #{$icon-type}, #{$color});
			}
		}
	}
}