/**
* Images
* --------------------------------------------------------------------------- */

img {
	max-width: 100%;
	height: auto;
}

a img {
	display: block;
}

.entry-content img {
}

/* === WP editor image sizes === */

img.size-thumbnail {}

img.size-medium {}

img.size-large {}

img.size-full {}

/* === Thumbnails === */

.thumbnail {
	
}

.single-thumbnail-wrap {
	margin-bottom: 1em;
}

/* === Captions === */

.wp-caption {
	max-width: 100%;
}

.wp-caption img {}

.wp-caption-text {
	/* no special styles */
}

.wp-caption-text a {}
.wp-caption-text a:hover {}

/* === Gallery === */

.gallery {}

.gallery .gallery-item {}

.gallery-icon {}

.gallery .gallery-icon img {}

.gallery .gallery-caption {}

/**
 * Cleaner Gallery Stylesheet
 * @version 0.9.5
 */

.gallery {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 auto;

	.gallery-row {
		display: block;
		clear: both;
		overflow: hidden;
		margin: 0 0 1em 0;
	}

	.gallery-item {
		overflow: hidden;
		float: left;
		margin: 0;
		text-align: center;
		list-style: none;
		padding: 0;
	}

	.gallery-item .gallery-icon img {
		width: auto;
		max-width: 80%;
		height: auto;
		padding: 1%;
		margin: 0 auto;
	}

	.gallery-caption {
		margin-left: 0;
	}

	/* Image sizes depending on the number of columns */
	.col-0 { width: 100%; }
	.col-1 { width: 100%; }
	.col-2 { width: 50%; }
	.col-3 { width: 33.33%; }
	.col-4 { width: 25%; }
	.col-5 { width: 20%; }
	.col-6 { width: 16.66%; }
	.col-7 { width: 14.28%; }
	.col-8 { width: 12.5%; }
	.col-9 { width: 11.11%; }
	.col-10 { width: 10%; }
	.col-11 { width: 9.09%; }
	.col-12 { width: 8.33%; }
	.col-13 { width: 7.69%; }
	.col-14 { width: 7.14%; }
	.col-15 { width: 6.66%; }
	.col-16 { width: 6.25%; }
	.col-17 { width: 5.88%; }
	.col-18 { width: 5.55%; }
	.col-19 { width: 5.26%; }
	.col-20 { width: 5%; }
	.col-21 { width: 4.76%; }
	.col-22 { width: 4.54%; }
	.col-23 { width: 4.34%; }
	.col-24 { width: 4.16%; }
	.col-25 { width: 4%; }
	.col-26 { width: 3.84%; }
	.col-27 { width: 3.7%; }
	.col-28 { width: 3.57%; }
	.col-29 { width: 3.44%; }
	.col-30 { width: 3.33%; }

}

/* === Avatars === */

.avatar {}

a .avatar {}
a:hover .avatar {}

/* === Sprites === */

/* === icons === */
@import "icons";
@include icon-colors();