/**
 * Menus
 * --------------------------------------------------------------------------- */
 
.menu {
	text-transform: lowercase;
}

[class^="fa-"].menu-item::before,
[class*=" fa-"].menu-item::before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-right: 0.25em;
}

/* ====== Primary Menu ====== */

#menu-primary {
	color: #ffffff;
	@include font-size(24);
}

#menu-primary ul {
	list-style: none;
	margin:     0;
	text-align: center;
}

@media screen and (max-width: $media-triple) {
  @import "font-awesome/scss/variables";

	.menu-toggle {
		cursor: pointer;
		@include font-size(24);
		line-height: 1;
		text-decoration: none;
		margin: 0;
		padding-bottom: 0.25em;
		&::before {
			content: $fa-var-bars;
			-webkit-font-smoothing: antialiased;
			font-family: 'FontAwesome';
			@include font-size(24);
			vertical-align: middle;
			display: inline-block;
			line-height: 1;
			padding: 0 5px;
			text-align: center;
			width: 2em;
			text-align: center;
		}
	}

	.menu-toggle:hover,
	.menu-toggle.active {
		text-decoration: underline;
		background-position: 0 -21px;
	}

	#menu-primary {
		margin-top: 1em;
		padding: 0;
		padding-top: 0.25em;
	
		.wrap {
			text-align: left;
			position:   relative;
			clear:      both;
			margin:     0.25em;
			padding:    0.25em;
			z-index:    999;
			background: #fff;
			border:     solid 1px #d5d5d5;
			display:    none; 
			text-align: left;
		}

		li {
			text-align: left;
		}

	}
}

@media screen and (min-width: $media-triple) {

	#menu-primary .menu-items {
		zoom: 1;
		z-index: 99;
	}

	#menu-primary .menu-items::before,
	#menu-primary .menu-items::after {
		content: "";
		display: table;
	}

	#menu-primary .menu-items::after {
		clear: both;
	}

	#menu-primary .menu-items > ul {
		width:  100%;
		margin: 3em auto;
	}

	#menu-primary ul ul {
		margin:     2em 0 0;
		opacity:    0;
		visibility: hidden;
		position:   absolute;
		z-index:    50;
		text-align: left;
		@include transition-property(all);
	  	@include transition-duration(0.1s);
	  	@include transition-timing-function(ease-in-out);
	}

	#menu-primary li:hover > ul {
		opacity:    1;
		visibility: visible;
		margin:     0;
		@include transition-property(all);
	  	@include transition-duration(0.35s);
	  	@include transition-timing-function(ease-in-out);
	}

	#menu-primary ul ul ul {
		top:    0;
		left:   204px;
		margin: 0 0 0 2em;
	}

	#menu-primary li {
		@include inline-block;
		position: relative;
	}

	#menu-primary li a {
		@include inline-block;
		padding: 5px 12px;
		padding: .5rem 1.2rem;
		color: #ffffff;
		text-decoration: none;
	}

	#menu-primary li a:hover,
	#menu-primary li:hover > a,
	#menu-primary li.current-menu-item > a {
	}

	#menu-primary li li.current-menu-item > a {
		font-weight: bold;
	}

	#menu-primary li li a {
		color: #ffffff;
		opacity: 0.98;
	}

	#menu-primary li li a:hover,
	#menu-primary li li:hover > a {
	}

	#menu-primary ul ul li {
		float:   none;
		display: block;
	}

	#menu-primary ul ul li a {
		display: block;
		float:   none;
		white-space: nowrap;		
		min-width: 204px;
	}

}

#sidebar-primary .widget.nav-menu {
	a,
	li a,
	li:hover > a,
	li.current-menu-item > a {
		text-decoration: none;
		@include font-size(24);
		text-transform: lowercase;
		line-height: 2;
	} 
	ul {
		padding-left: 0;
	}
}

#sidebar-footer .widget.nav-menu {
	ul {
		margin-left: 0;
	}
}