// my mixins

// declaring this here because it goes with font-size mixin calculation below
// if you change this value, then the px / rem calculation below also changes
$base-font: 62.5%;

// mixin to shorten declaring rem with pixel fall-back, calculation is dependent
// $base-font above
@mixin font-size($sizeValue: 15) {
	font-size: $sizeValue + px;
  font-size: ($sizeValue * 0.1) + rem;
}

@mixin link-button() {
	@include inline-block;
	@include border-radius(8px, 8px);
	color: #ffffff;
	line-height: 2;
	width: auto;
	text-decoration: none;
	text-transform: lowercase;
	margin: 1em auto;
	padding: 0 .5385em;
  border: none;
}

%link-button-lg {
	@include link-button();
	@include font-size(20);
}

%input {
	@include font-size(14);
	padding: .5em 2em;
}

// borrowed from bourbon
// @include triangle(12px, gray, down);
// up, down, left, right, up-right, up-left, down-right, down-left
@mixin triangle ($size, $color, $direction) {
  height: 0;
  width: 0;

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;

    @if $direction == up {
      border-bottom-color: $color;

    } @else if $direction == right {
      border-left-color:   $color;

    } @else if $direction == down {
      border-top-color:    $color;

    } @else if $direction == left {
      border-right-color:  $color;
    }
  }

  @else if ($direction == up-right) or ($direction == up-left) {
    border-top: $size solid $color;

    @if $direction == up-right {
      border-left:  $size solid transparent;

    } @else if $direction == up-left {
      border-right: $size solid transparent;
    }
  }

  @else if ($direction == down-right) or ($direction == down-left) {
    border-bottom: $size solid $color;

    @if $direction == down-right {
      border-left:  $size solid transparent;

    } @else if $direction == down-left {
      border-right: $size solid transparent;
    }
  }
}