/**
 * Sidebars and widgets
 * --------------------------------------------------------------------------- */

/* ====== General ====== */

.sidebar {
	margin-bottom: .308em;
}

.widget {
	position:   relative;
	padding-bottom: 1em;
	word-wrap: break-word;
}

.widget-title {
	width: 100%;
	padding: 0 0 0.385em 0;
	margin: 0;
	@include font-size(30);
}

.widget th,
.widget td {
	padding: 5px 2px;
}



/* wp-calendar */
.calendar-wrap {
	overflow: hidden;
}

#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar thead {
}

#wp-calendar thead,
#wp-calendar tbody {
}

#wp-calendar thead th {
}

#wp-calendar tbody td.pad {
	background: #fafafa;
}

#wp-calendar tbody td {
	@include font-size(12);
	background: #fff;
}

#wp-calendar tbody a {
	display:     block;
	font-weight: bold;
}

#wp-calendar,
#wp-calendar tfoot tr,
#wp-calendar tfoot td {
	background: transparent;
	border:     none;
}

.widget.nav-menu,
.widget.pages,
.widget_recent_entries,
.widget_recent_comments  {
	ol, ul {
		list-style: none;
		margin-left: 0;

		ol, ul {
			margin-left: 2em;

			ol, ul {
				margin-left: 2em;
			}
		}
	}
}

/* ====== Specific ====== */

#sidebar-primary {
	
}

#sidebar-subsidiary {
	margin-top: 1em;
	.widget-title {
		@include font-size(24);
	}
}

#sidebar-footer,
#sidebar-footer-right {	
	@include font-size(15);
	.widget-title {
		@include font-size(24);
	}
}

/* widgets */

#sidebar-home-three .widget {	
	h3.widget-title {
		padding-left: $gutter-half / 2;
	}
}

.hot_off_press_widget {
	p {
		@include font-size(15);
		text-align: left;
		margin: 0;
	}
	.entry-summary p {
		height: 6.375em;
		overflow: hidden;
	}
	img {
		margin: 0 auto 1em;
		max-width: 100%;
	}
	.ps-read-more {
		display: block;
		text-align: right;
		line-height: 2.8;
		@include font-size(14);
		text-transform: lowercase;
		a {
			text-decoration: none;
		}
	}
	.hot-off-press-features > div > div {
		max-width: 250px;
		margin: 0 auto;
	}
}

form#search-formhybrid-search,
.widget.search form {
	position: relative;
	margin-bottom: 0;
	margin-right: 1em;
	height: 2em;
	.search-text,
	#s {
		background-color: transparent;
		border: none;
		&:focus {
			outline: none;
		}
	}
	input[type="submit"],
	#search-submithybrid-search {
		@include font-size(16);
		position: absolute;
		width: 2em;
		height: 2em;
		right: -1em;
		bottom: 0;
		border-radius: 50%;
		padding: 0;
		margin: 0;
	}
}

.box-content,
.sm-box-content  {
	display: table;
	width: 100%;
	p {		
		display: table-cell;
		vertical-align: middle;
		width: auto;
	}
	a {
		text-decoration: none;
		@include inline-block;
	}
	&:after {
		content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}	
}

.sm-box-content {
	padding: 2em 1em;

}
.ps_box_widget  {
	a {
		&.ps-box-line1 {
			@include font-size(24);
			line-height: 1.1;
			&.ps-hide-icon {
				text-align: center;
				width: 100%;
				padding: 0 0.125em;
			}
		}
		&.ps-box-line2 {
			@include font-size(48);
			line-height: 1.1;
			&.ps-hide-icon {
				text-align: center;
				width: 100%;
				padding: 0 0.125em;
			}
		}
		&.ps-icon-box {
			height: 128px;
			width: 128px;		
			display: table-cell;
			vertical-align: middle;
			&.ps-hide-icon {
				background-image: none;
				width: 0;
			}
			&.ps-check-icon {
				background-image: none;
				height: 128px;
				width: 128px;
			}
		}
	}
}

.ps_box_sm_widget  {
	text-align: center;
	a {
		width: 100%;
		&.ps-box-line1 {
			@include font-size(28);
			line-height: 1.1;
		}
		&.ps-box-line2 {
			@include font-size(18);
			line-height: 1.1;
		}
	}
}
