// local sass variables 
// ems for 16px base

$container-max-width: 67.5em; /* 1080px */
$gutter-half: 0.625em; /* 10px */

// these widths are determined by what I think is a good breakpoint for layout
// rather than phone, tablet, desktop widths
// ex. media-double is the first breakpoint at which some single columns needed to become double
$media-tiny: 18.75em; /* 300px */
$media-double: 36.875em; /* 590px */
$media-triple: 49.375em; /* 790px */
$media-full: 59.375em ; /* 950px */

// nth-of-type for third, fifth, seventh ... 2n+1;
// nth-of-type for first, third, fifth ... 2n-1;
// nth-of-type for fourth, seventh, tenth ... 3n+1;
// nth-of-type for first, fourth, seventh, tenth ... 3n-2;
// nth-of-type for third, sixth, ninth ... 3n+0;
// nth-of-type for fifth, ninth, thirteenth ... 4n+1;
// nth-of-type for first, fifth, ninth ... 4n-3;
// nth-of-type for second, fifth, eighth ... 3n-1;

// 1x + y = 5
// 2x + y = 9
// 3x + y = 13

// 1 = 3n-2 =
// 2 = 3n-1 =
// 3 = 3n+0 =

// 1 = 3n-1 =
// 2 = 3n+0 =
// 3 = 3n-2 =