$woocommerce: #ad74a2;

@mixin woo_clearfix() {
	&:after {
		content:"";
		display:block;
		clear:both;
	}
}
@mixin woo_box_shadow($shadow_x:3px, $shadow_y:3px, $shadow_rad:3px, $shadow_in:3px, $shadow_color:#888) {
	box-shadow:$shadow_x $shadow_y $shadow_rad $shadow_in $shadow_color;
	-webkit-box-shadow:$shadow_x $shadow_y $shadow_rad $shadow_in $shadow_color;
	-moz-box-shadow:$shadow_x $shadow_y $shadow_rad $shadow_in $shadow_color;
}
@mixin woo_inset_box_shadow($shadow_x:3px, $shadow_y:3px, $shadow_rad:3px, $shadow_in:3px, $shadow_color:#888) {
	box-shadow:inset $shadow_x $shadow_y $shadow_rad $shadow_in $shadow_color;
	-webkit-box-shadow:inset $shadow_x $shadow_y $shadow_rad $shadow_in $shadow_color;
	-moz-box-shadow:inset $shadow_x $shadow_y $shadow_rad $shadow_in $shadow_color;
}
@mixin woo_text_shadow($shadow_x:3px, $shadow_y:3px, $shadow_rad:3px, $shadow_color:#fff) {
	text-shadow:$shadow_x $shadow_y $shadow_rad $shadow_color;
}
@mixin woo_vertical_gradient($from: #000, $to: #FFF) {
	background: $from;
	background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background: -webkit-linear-gradient($from, $to);
	background: -moz-linear-gradient(center top, $from 0%, $to 100%);
	background: -moz-gradient(center top, $from 0%, $to 100%);
}
@mixin woo_transition($selector:all, $animation:ease-in-out, $duration:.2s) {
	-webkit-transition:$selector $animation $duration;
	-moz-transition:$selector $animation $duration;
	-o-transition:$selector $animation $duration;
	transition:$selector $animation $duration;
}
.clear { clear: both; }
.nobr { white-space: nowrap; }
//
@mixin woo_darkorlighttextshadow( $a, $opacity: 0.8 ) {
    @if lightness( $a ) >= 65% {
        @include text_shadow( 0, -1px, 0, rgba(0, 0, 0, $opacity) );
    } @else {
        @include text_shadow( 0, 1px, 0, rgba(255, 255, 255, $opacity) );
    }
}

