@import "mixins";

$woo-contentbg: 		#fff; 										/* Content BG - Tabs (active state) */
$woo-subtext: 			#777; 										/* small, breadcrumbs etc */

/* =Custom Font
-------------------------------------------------------------- */
// copy this to theme font folder so that we don't have to assume woocomerce plugin folder
// is named that
@font-face {
	font-family: 'star';
	src:url('fonts/star.eot');
	src:url('fonts/star.eot?#iefix') format('embedded-opentype'),
		url('fonts/star.woff') format('woff'),
		url('fonts/star.ttf') format('truetype'),
		url('fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* =Global styles/layout 
-------------------------------------------------------------- */
.woocommerce-message, .woocommerce-error, .woocommerce-info {
	padding: 1em 1em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
	list-style:none outside;
	@include woo_clearfix();
	width: auto;
	@include border-radius(8px);

	&:before {
		content: "";
		height: 1.5em;
		width: 1.5em;
		display:block;
		position:absolute;
		top: 1em;
		left: 1em;
		font-family: sans-serif;
		font-size:1em;
		line-height: 1.5;
		text-align: center;
		color: #fff;
	}

	.button {
		float: right;
	}

	li {
		list-style:none outside;
		padding-left:0;
		margin-left:0;
	}
}

.woocommerce-message {
	&:before {
		content: "\2713";
	}
}
.woocommerce-info {
	&:before {
		content: "i";
		font-family: Times, Georgia, serif;
		font-style: italic;
	}
}
.woocommerce-error {
	&:before {
		content: "\00d7";
		font-weight: 700;
	}
}

p.demo_store {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: .5em 0;
	text-align: center;
	z-index: 99998;
}

.admin-bar { // Styles applied when the admin bar is present
	p.demo_store {
		top:28px;
	}
}

.woocommerce, .woocommerce-page { // namespace to avoid conflict with common global class names

	small.note {
		display:block;
		color: $woo-subtext;
		font-size: 11px;
		line-height: 21px;
		margin-top: 10px;
	}

	.woocommerce-breadcrumb{
		@include woo_clearfix();
		margin: 0 0 1em;
		padding: 0;
		font-size: 0.92em;
		color: $woo-subtext;
		a {
			color: $woo-subtext;
		}
	}

	.col2-set {
		@include woo_clearfix();
		width: 100%;
		.col-1 {
			float:left;
			width: 48%;
		}
		.col-2 {
			float: right;
			width: 48%;
		}
	}

	tr:last-of-type {
		border-bottom-style: solid;
	}

	/* =Product Page
	-------------------------------------------------------------- */

	div.product, #content div.product {
		margin-bottom: 0;
		position: relative;

		/* Main product title */
		.product_title {
			clear: none;
			margin: 0;
			padding: 0;
		}

		/* Price */
		span.price, p.price {
			font-size: 1.25em;
			ins {
				background: inherit;
			}
			del {
				font-size: 0.67em;
			}
		}

		/* Stock */
		p.stock {
			font-size: 0.92em;
		}
		.stock {
			color: $woo-highlight;
		}
		.out-of-stock {
			color: red;
		}

		/* Product image and thumbnail */
		div.images {
			@media screen and (min-width: $media-double) {		
				float:left;		
				width: 66%;
			}
			margin-bottom: 2em;
			img {
				display:block;
				max-width: 100%;
				height:auto;
			}
			div.thumbnails {
				padding-top: 1em;
				@include woo_clearfix();
				a {
					float:left;
					width: 30.75%;
					margin-right: 3.8%;
				}
				a.last {
					margin-right: 0;
				}
				a.first {
					clear:both;
				}
			}
		}

		/* Summary div (contains title, price etc) */
		div.summary {
			float: right;
			margin-bottom: 2em;
			@media screen and (min-width: $media-double) {		
				float:right;		
				width: 30%;
			}
		}

		/* Social networking */
		div.social {
			text-align: right;
			margin: 0 0 1em;
			span {
				margin: 0 0 0 2px;
				span {
					margin: 0;
				}
				.stButton .chicklets {
					padding-left: 16px;
					width: 0;
				}
			}
			iframe {
				float:left;
				margin-top: 3px;
			}
		}

		/* Tabs on the product page */
		.woocommerce-tabs {
			@media screen and (min-width: $media-double) {		
				float:left;		
				width: 66%;
				clear: none;
			}

			ul.tabs {
			    list-style:none;
			    padding: 0 0 0 1em;
			    margin: 0 0 1.618em;
			    overflow:hidden;
			    position: relative;
			    border-bottom: 1px dotted #e0dadf;

			    li {
				    display: inline-block;
				    position: relative;
				    z-index: 0;
				    margin: 0 -5px;
				    padding: 0 1em;
				    @include border-top-radius(8px);
				    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255,255,255,0.6);

				    a {
				    	display: inline-block;
				    	padding: .5em 0;
				    	font-weight:bold;
				    	text-decoration: none;

				    	&:hover {
				    		text-decoration:none;
				    	}
				    }

				    &.active {
					    z-index: 2;
					    a {
					    	color: inherit;
					    	text-shadow: inherit;
					    }

					    &:before {
					    	
					    }

					    &:after {
					    	
					    }
				    }
				    &:before, &:after {
					    position:absolute;
					    bottom: -1px;
					    width: 5px;
					    height: 5px;
					    content: " ";
				    }
				    &:before {
				    	left: -6px;
				    }
				    &:after {
				    	right: -6px;
				    }
			    }
			    &:before {
			    	position:absolute;
				    content: " ";
				    width: 100%;
				    bottom: 0;
				    left: 0;
				    z-index: 1;
			    }
			}
			.panel {
				margin: 0 0 2em;
				padding: 0;
			}
		}

		/* Cart button */
		p.cart {
			margin-bottom: 2em;
			@include woo_clearfix();
		}

		/* add to cart forms */
		form.cart {
			margin-bottom: 2em;
			@include woo_clearfix();
			div.quantity {
				float:left;
				margin: 0 4px 0 0;
			}
			table {
				border-width: 0 0 1px 0;
				td {
					padding-left:0;
				}
				div.quantity {
					float:none;
					margin: 0;
				}
				small.stock {
					display:block;
					float:none;
				}
			}
			.variations {
				margin-bottom: 1em;
				label {
					font-weight: bold;
					@include font-size(25);
				}
				select {
					width: 100%;
					float:left;
				}
				td.label {
					padding-right: 1em;
				}
				td {
					vertical-align: top;
				}
			}
			.variations,
		 	form.cart .variations {
			 	/* Force table to not be like tables anymore */
				&,
				thead,
				tbody,
				th,
				td,
				tr { 
					display: block; 
				}

				td {
					border-bottom: none;
					border-right: none;
					padding: 0;
				}

				select {
					float: none;
				}
		 	}
			.button {
				vertical-align: middle;
				float:left;
				margin: 0;
			}

			.group_table {
				td.label {
					padding-right: 1em;
					padding-left: 1em;
				}
				td {
					vertical-align: top;
				}
			}
		}
	}

	/* Sale labels */
	span.onsale {
		min-height: 32px;
		min-width: 32px;
		padding: 4px;
		font-size: 12px;
		font-weight:bold;
		position:absolute;
		text-align: center;
		line-height: 28px;
		top: 6px;
		right: 0;
		margin: 0;
		@include border-radius(20px);
		-webkit-box-shadow:
			inset 0 1px 0 rgba(255,255,255,0.3),
			inset 0 -1px 0 rgba(0,0,0,0.2),
			0 1px 2px rgba(0,0,0,0.2);
		-moz-box-shadow:
			inset 0 1px 0 rgba(255,255,255,0.3),
			inset 0 -1px 0 rgba(0,0,0,0.2),
			0 1px 2px rgba(0,0,0,0.2);
		box-shadow:
			inset 0 1px 0 rgba(255,255,255,0.3),
			inset 0 -1px 0 rgba(0,0,0,0.2),
			0 1px 2px rgba(0,0,0,0.2);
	}

	/* Product loops */

	.products ul, ul.products {
		margin: 0 0 1em;
		padding: 0;
		list-style:none outside;
		clear:both;
		@include woo_clearfix();
		li {
			list-style:none outside;
		}
		h3 {
			text-align: center;
		}
	}

	.related, .upsells.products {
		@include woo_clearfix();
		clear:both;
	}

	ul.products {
		li.product {
			position: relative;
			margin-bottom: 1em;
			padding-bottom: 1.5em;
			.onsale {
				top: 0;
				right: 0;
				left:auto;
				margin: -6px -6px 0 0;
			}
			h3 {
				padding: .5em 0 0;
				margin: 0;
				position: absolute;
				bottom: 0;
				width: 100%;
				line-height: 1.5;
				@include font-size(16);
			}
			a {
				text-decoration:none;
				height: 100%;
				display: block;
				position: relative;
				max-width: 150px;
				margin: 0 auto;
			}
			a img {
				max-width: 100%;
				height:auto;
				display:block;
				margin: 0 auto 8px;
			}
			strong {
				display:block;
			}
			.price {
				@include font-size(20);
				display:block;
				font-weight:normal;
				margin-bottom: .5em;
				del {
					margin: -2px 0 0 0;
				}
				ins {
					background:none;
				}
				.from {
					margin: -2px 0 0 0;
					text-transform: lowercase;
				}
			}
		}
	}

	.woocommerce-result-count {
		float: left;
		margin: 0 0 1em;
	}
	.woocommerce-ordering {
		margin: 0 0 1em;
		float: right;
		select {
			vertical-align: top;
		}
	}
	nav.woocommerce-pagination, #content nav.woocommerce-pagination {
		@extend .loop-pagination;
		ul.page-numbers {
			clear: both;
			margin: 0;
			font-size: 13px;
			font-size: 1.3rem;
			text-align: center;
			padding-bottom: 1em;
			@include border-radius(0);
			background-color: transparent;
			border: none;
		}
		li {
			@extend .page-numbers;
			margin: 0;
			padding: 0;
			span.page-numbers {
				display: block;
			}
		}
	}

	/* =Buttons
	-------------------------------------------------------------- */

	a.button, button.button, input.button, #respond input#submit, #content input.button, table.cart input.button {
	    cursor: pointer;
	    position: relative;
		text-decoration:none;
	    left: auto;
		white-space: nowrap;
		@extend %link-button-lg;
		@include link-colors(#ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
		margin: 0;

		&.loading {
			color: lighten( $woo-secondarytext, 10 );

			&:before {
				content: "";
				position:absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background: url(images/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65);
			}
		}

		&.added {
			&:before {
				content: "";
				position:absolute;
				height: 16px;
				width: 16px;
				top: 0.35em;
				right: -26px;
				text-indent: 0;
				background: url(images/success.png) no-repeat;
			}
		}

		&:hover {
			text-decoration:none;
		}

		&:active {
			top: 1px;
		}

		&.alt {
			color: $woo-primarytext;

			&:hover {
				color:$woo-primarytext + #111;
			}
		}
	}

	.cart .button, .cart input.button {
		float:none;
	}

	a.added_to_cart {
		padding-top: .5em;
		white-space: nowrap;
		display: inline-block;
	}

	/* =Quantity inputs
	-------------------------------------------------------------- */

	.quantity, #content .quantity {
		width: 60px;
		position: relative;
		margin: 0 auto;
		overflow:hidden;
		zoom: 1;

		/* Disable input[type=number] buttons until the world is ready */
		input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
			display:none;
		}

		input.qty {
			width: 40px;
			height: 28px;
			float:left;
			padding: 0;
			text-align: center;
			border-right: 0;
			@include border-right-radius(0);
			font-weight:bold;
			@include border-left-radius(2px);
		}

		/* Hide buttons for opera */
		noindex:-o-prefocus, input[type=number] {
		    padding-right: 1.2em;
		}

		.plus, .minus {
			display:block;
			padding: 0;
			margin: 0;
			position:absolute;
			text-align: center;
			vertical-align: text-top;
			width: 20px;
			height: 15px;
			text-decoration:none;
			overflow: visible;
		    text-decoration:none;
		    font-weight:bold;
		    cursor: pointer;
		    line-height: 13px;
		    font-size: 12px;
		    @include border-radius(2px);

		    -webkit-box-shadow:
		        inset 0 -1px 0 rgba(0,0,0,0.075),
		        inset 0 1px 0 rgba(255,255,255,0.3),
		        0 1px 2px rgba(0,0,0,0.1);
		    -moz-box-shadow:
		        inset 0 -1px 0 rgba(0,0,0,0.075),
		        inset 0 1px 0 rgba(255,255,255,0.3),
		        0 1px 2px rgba(0,0,0,0.1);
		    box-shadow:
		        inset 0 -1px 0 rgba(0,0,0,0.075),
		        inset 0 1px 0 rgba(255,255,255,0.3),
		        0 1px 2px rgba(0,0,0,0.1);
		}

		.plus {
			top: 0;
			right: 0;
			border-bottom: 0;
			@include border-bottom-radius(0);
		}

		.minus {
			bottom: 0;
			right: 0;
			@include border-top-radius(0);
		}
	}

	/* =Reviews/comments
	-------------------------------------------------------------- */
	#reviews {
		h2 small {
			float: right;
			color: $woo-subtext;
			font-size: 15px;
			line-height: 21px;
			margin: 10px 0 0 0;
			a {
				text-decoration:none;
				color: $woo-subtext;
			}
		}
		h3 {
			margin: 0;
		}
		#respond {
			margin: 0;
			border: 0;
			padding: 0;
		}
		#comment {
			height: 75px;
		}
		#comments {
			.add_review {
				@include woo_clearfix();
			}
			h2 {
				clear:none;
			}
			ol.commentlist {
				@include woo_clearfix();
				margin: 0;
				width: 100%;
				background:none;
				list-style: none;
				li {
					padding: 00;
					margin: 0 0 20px;
					border: 0;
					position: relative;
					background: 0;
					border: 0;
					.meta {
						color: $woo-subtext;
						font-size: 0.75em;
					}
					img.avatar {
						float:left;
						position:absolute;
						top: 0;
						left: 0;
						width: 32px;
						height:auto;
						margin: 0;
						line-height: 1;
					}
					.comment-text {
						margin: 0 0 0 50px;
						padding: 1em 1em 0;
						p {
							margin: 0 0 1em;
						}
						p.meta {
							font-size: 0.83em;
						}
					}
				}
			}
			.commentlist > li:before {
				content: "";
			}
		}
	}

	/* Star rating */

	.star-rating {
		float: right;
		overflow: hidden;
		position: relative;
		height: 1em;
		line-height: 1em;
		font-size: 1em;
		width: 5.4em;
		font-family: 'star';
		&:before {
			content: "\73\73\73\73\73";
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}
		span {
			overflow: hidden;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;
		}
		span:before {
			content: "\53\53\53\53\53";
			top: 0;
			position: absolute;
			left: 0;
		}
	}

	.products {
		.star-rating {
			display: block;
			margin: 0 0 .5em;
			float: none;
		}
	}

	.hreview-aggregate {
		.star-rating {
			margin: 10px 0 0 0;
		}
	}

	#review_form {
		#respond {
			@include woo_clearfix();
			position: static;
			margin: 0;
			width: auto;
			padding: 0 0 0;
			background: transparent none;
			border: 0;
			p {
				margin: 0 0 10px;
			}
			.form-submit {
				input {
					left: auto;
				}
			}
			textarea {
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
				width: 100%;
			}
		}
	}

	p.stars {
		@include woo_clearfix();
		span {
			width: 80px;
			height: 16px;
			position: relative;
			float:left;
			background: url(images/star.png) repeat-x left 0;
			a {
				float:left;
				position:absolute;
				left: 0;
				top: 0;
				width: 16px;
				height: 0;
				padding-top: 16px;
				overflow:hidden;
			}
			a:hover, a:focus {
				background: url(images/star.png) repeat-x left -16px;
			}
			a.active {
				background: url(images/star.png) repeat-x left -32px;
			}
			a.star-1 { width: 16px; z-index: 10; }
			a.star-2 { width: 32px; z-index: 9; }
			a.star-3 { width: 48px; z-index: 8; }
			a.star-4 { width: 64px; z-index: 7; }
			a.star-5 { width: 80px; z-index: 6; }
		}
	}

	/* =Tables
	-------------------------------------------------------------- */

	table.shop_attributes {
		border: 0;
		margin-bottom: 1.618em;
		width: 100%;
		th {
			width: 150px;
			font-weight:bold;
			border-top: 0;
			margin: 0;
			line-height: 1.5em;
		}
		td {
			font-style: italic;
			padding: 0;
			border-top: 0;
			margin: 0;
			line-height: 1.5em;
			p {
				margin: 0;
				padding: 8px 0;
			}
		}
		.alt td, .alt th {
			background: rgba(0,0,0,0.025);
		}
	}

	table.shop_table {
		text-align:left;
		width: 100%;
		border-collapse: collapse;
		@include border-radius(5px);
		th {
			font-weight:bold;
		}
		td {
			vertical-align: middle;
			small {
				font-weight: normal;
			}
		}
		tfoot td, tfoot th {
			font-weight:bold;
		}
	}

	table.my_account_orders {
		font-size: 0.85em;
		th, td {
			padding: 0.25em 0.5em;
			vertical-align: middle;
		}
		.button {
			white-space:nowrap;
		}
		.order-actions {
			text-align: right;
			.button {
				margin: .125em 0 .125em .25em;
			}
		}
	}

	td.product-name {
		text-align: left;
		dl.variation {
			margin: .25em 0 .5em;
			font-size: 0.8751em;
			text-align: left;
			dt {
				font-weight:bold;
				margin: 0 .25em 0 0;
				padding: 0;
				display: inline;
				clear: both;
				float: left;
			}
			dd {
				margin: 0 0 .25em 0;
				display: inline;
				float: left;
				&:after {
					content:"\A";
					white-space: normal;
				}
			}
			p {
				padding: 0;
				margin: 0;
			}
		}
		p.backorder_notification {
			font-size: 0.83em;
		}
	}

	td.product-quantity {
		min-width: 80px;
	}

	/* =Cart
	-------------------------------------------------------------- */

	table.cart, #content table.cart {
		.product-thumbnail {
			min-width: 32px;
		}
		img {
			width: 32px;
			height:auto;
		}
		th, td {
			vertical-align: middle;
		}
		a.remove {
			display:block;
			font-size:1.5em;
			height:1em;
			width:1em;
			text-align: center;
			line-height: 1;
			@include border-radius(100%);
			color: red;
			text-decoration: none;
			font-weight: bold;
		}
		a.remove:hover {
			background-color: red;
			color: #fff;
		}
		td.actions {
			text-align: right;
			.coupon {
				float:left;
				label {
					display:none;
				}
				.input-text {
					width: 80px;
					float:left;
					padding: 6px 6px 5px;
					margin: 0 4px 0 0;
					outline: 0;
					//background: lighten($woo-secondary, 5) none;
					line-height: 1em;
				}
			}
			.button.alt {
				float: right;
				margin-left: .25em;
			}
		}
		input {
			margin: 0;
			vertical-align: middle;
			line-height: 1.5em;
		}
	}


	/* =Cart Sidebar
	-------------------------------------------------------------- */

	ul.cart_list, ul.product_list_widget {
		list-style:none outside;
		padding: 0;
		margin: 0;
		li {
			padding: 4px 0;
			margin: 0;
			@include woo_clearfix();
			list-style:none;
			a {
				display:block;
				font-weight:bold;
			}
			img {
				float: right;
				margin-left: 4px;
				width: 32px;
				height:auto;
				@include woo_box_shadow(0,1px,2px,0,rgba(0,0,0,0.3));
			}
			dl {
				margin: 0;
				font-size: 0.8751em;
				padding-left: 1em;
				border-left: 2px solid rgba(0,0,0,0.1);

				dt {
					float:left;
					clear:left;
					margin-right: .25em;
				}

				dd {
					margin-bottom: .5em;
				}
			}
			.star-rating {
				float:none;
			}
		}
	}

	.widget_shopping_cart {
		.total {
			padding: 4px 0 0;
			strong {
				min-width: 40px;
				display: inline-block;
			}
		}
		.buttons {
			@include woo_clearfix();
		}
	}


	/* =Cart Page
	-------------------------------------------------------------- */

	.cart-collaterals {
		@include woo_clearfix();
		width: 100%;
		.related {
			width: 30.75%;
			float:left;
		}

		.cross-sells {
			width: 48%;
			float:left;

			ul.products {
				float:none;

				li {
					width: 48%;
				}
			}
		}
		.shipping_calculator {
			width: 48%;
			text-align: right;
			@include woo_clearfix();
			margin: 20px 0 0 0;
			clear: right;
			float: right;
			.button {
				width: 100%;
				float:none;
				display:block;
			}
			.col2-set {
				.col-1, .col-2 {
					width: 47%;
				}
			}
		}
		.cart_totals {
			float: right;

			width: 48%;
			text-align: right;
			p {
				margin: 0;
				small {
					color: $woo-subtext;
					font-size: 0.83em;
				}
			}
			table {
				border-collapse: collapse;
				margin: 0 0 6px;
				padding: 0;
				tr:first-child {
					th, td {
						border-top: 0;
					}
				}
				td, th {
					background-color: transparent;
				}
				small {
					display:block;
				}
				select {
					width: 100%;
				}
			}
			.discount td {
				color: $woo-highlight;
			}
			tr td, tr th {
				padding: 6px 6px;
			}
			a.button.alt {
				width: 193px;
				display:block;
				font-size: 0.92em;
			}
		}
	}

	/* =Forms
	-------------------------------------------------------------- */

	form {
		.form-row {
			@include woo_clearfix();
			padding: 3px;
			margin: 0 0 6px;

			[placeholder]:focus::-webkit-input-placeholder {
				-webkit-transition: opacity 0.5s 0.5s ease;
				-moz-transition: opacity 0.5s 0.5s ease;
				transition: opacity 0.5s 0.5s ease;
				opacity: 0;
			}

			label {
				display:block;
				@include font-size(14);
			}
			label.hidden {
				visibility:hidden;
			}
			select {
				width: 100%;
				cursor: pointer;
				margin: 0;
			}
			.required {
				color: red;
				font-weight:bold;
				border: 0;
			}
			.input-checkbox {
				display: inline;
				margin: -2px 8px 0 0;
				text-align: center;
				vertical-align: middle;
			}
			label.checkbox {
				display: inline;
			}
			input.input-text, textarea {
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				width: 100%;
				margin: 0;
				outline: 0;
				line-height: 1em;
			}
			textarea {
				height: 3.5em;
				line-height: 1.5em;
				display:block;
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				box-shadow:none;
			}
			&.validate-required.woocommerce-validated {
				input.input-text {
					background-image: url(images/icons/valid.png);
					background-position: 95% center;
					background-repeat: no-repeat;
				}
			}
			&.validate-required.woocommerce-invalid {
				input.input-text {
					background-image: url(images/icons/invalid.png);
					background-position: 95% center;
					background-repeat: no-repeat;
				}
				.chzn-single, .chzn-drop, input.input-text, select {
					border-color: #fb7f88;
				}
			}
			::-webkit-input-placeholder {
				line-height: 1em;
				padding-top: 2px;
			}
			:-moz-placeholder {
				line-height: 1em;
				padding-top: 2px;
			}
			:-ms-input-placeholder {
				line-height: 1em;
				padding-top: 2px;
			}
		}
		.form-row-first, .form-row-last {
			float:left;
			width: 47%;
			overflow: visible;
		}
		.form-row-last {
			float: right;
		}
		.form-row-wide {
			clear: both;
		}
	}

	form.login, form.checkout_coupon, form.register {
		padding: 20px;
		margin: 2em 0 2em 0px;
		text-align:left;
		@include border-radius(5px);
	}

	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: .25em 0 .25em 22px;
			text-indent: -22px;
			list-style: none outside;
		}
		.amount {
			font-weight: bold;
		}
	}

	/* =Checkout
	-------------------------------------------------------------- */

	.checkout {
		.col-2 {
			h3 {
				float:left;
				clear:none;
			}

			.notes {
				clear:left;
			}

			.form-row-first {
				clear:left;
			}
		}
		div.shipping-address {
			padding: 0;
			clear:left;
			width: 100%;
		}
		#shiptobilling {
			float: right;
			line-height: 1.62em;
			margin: 0 0 0 0;
			padding: 0;

			label {
				font-size: 0.6875em;
			}
		}
		.shipping_address {
			clear:both;
		}
	}

	/* Payment box - appears on checkout and page page */
	#payment {
		@include border-radius(5px);

		ul.payment_methods {
			@include woo_clearfix();
			text-align:left;
			padding: 1em;
			margin: 0;
			list-style:none outside;
			li {
				line-height: 2em;
				text-align:left;
				margin: 0;
				font-weight:normal;
				input {
					margin: 0 1em 0 0;
				}
				img {
					vertical-align: middle;
					margin: -2px 0 0 .5em;
					position: relative;
				}
			}
		}

		div.form-row {
			padding: 1em;
		}
		#place_order {
			float: right;
			margin: 0;
		}
		.terms {
			padding: 0 1em 0;
			text-align: right;
		}
		div.payment_box {
			position: relative;
			width: 96%;
			padding: 1em 2%;
			margin: 1em 0 1em 0;
			font-size: 0.92em;
			@include border-radius(2px);
			line-height: 1.5em;

			p:last-child {
				margin-bottom: 0;
			}
			#cc-expire-month, #cc-expire-year {
				width: 48%;
				float:left;
			}
			#cc-expire-year {
				float: right;
			}
			span.help {
				font-size: 11px;
				color: $woo-subtext;
				line-height: 13px;
				font-weight:normal;
			}
			.form-row {
				margin: 0 0 1em;

				select {
					width: 48%;
					float:left;
					margin-right: 3.8%;
					&:nth-child(3n) {
						margin-right: 0;
					}
				}
			}
		}
	}

	/* =Order Page
	-------------------------------------------------------------- */

	.order_details {
		@include woo_clearfix();
		margin: 0 0 1.5em;
		list-style:none;

		li {
			float:left;
			margin-right: 2em;
			text-transform: lowercase;
			font-size: 0.715em;
			line-height: 1em;
			padding-right: 2em;

			strong {
				display:block;
				font-size: 1.4em;
				text-transform:none;
				line-height: 1.5em;
			}

			&:last-of-type {
				border: none;
			}
		}
	}

	/* =Account Page
	-------------------------------------------------------------- */

	.addresses {
		.title {
			@include woo_clearfix();

			h3 {
				float:left;
			}
			.edit {
				float: right;
			}
		}
	}

	ol.commentlist.notes {
		li.note {

			p.meta {
				font-weight:bold;
				margin-bottom: 0;
			}
			.description {
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;
		li {
			list-style:none;
			margin-left: 0;
			padding-left: 1.5em;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAQUlEQVQIHWP8//8/AwgwMjLWgxlQAijeCGIyIQtiYxNUwAjUhWI0uilMMLvQJUB8kBzYCmyKYGJwN8AEYDphJgIAPtccffZCsOoAAAAASUVORK5CYII=) left no-repeat; /* download icon */
			.count {
				float: right;
			}
		}
	}

	/* =Layered Nav Widget
	-------------------------------------------------------------- */

	.widget_layered_nav {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style:none outside;
			li {
				@include woo_clearfix();
				padding: 0 0 1px;
				list-style:none;
				a, span {
					padding: 1px 0;
					float:left;
				}
			}
			li.chosen {
				a {
					@include link-button();
					padding: 0 6px 0 18px;
					background: transparent url(images/cross_white.png) no-repeat 6px center;
				}
			}
			small.count {
				float: right;
				margin-left: 6px;
				font-size: 1em;
				padding: 1px 0;
				color: $woo-subtext;
			}
		}
	}

	.widget_layered_nav_filters {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style:none outside;
			overflow: hidden;
			zoom: 1;
			li {
				padding: 0 3px 3px 0;
				@include inline-block;
				a {
					@include link-button();
					margin-right: 2px;
					padding: 0 6px 0 18px;
					background: transparent url(images/cross_white.png) no-repeat 6px center;
				}
			}
		}
	}

	/* =Price Filter Widget
	-------------------------------------------------------------- */

	.widget_price_filter {
		.price_slider {
			margin-bottom: 1em;
		}
		.price_slider_amount {
			text-align: right;
			line-height: 2.4em;
			font-size: 0.8751em;
			.button {
				font-size: 1.15em;
			}
			.button {
				float:left;
			}
		}
	   .ui-slider {
			position: relative;
			text-align:left;
		}
	   .ui-slider .ui-slider-handle {
			position:absolute;
			z-index: 2;
			width: 0.9em;
			height: 0.9em;
			@include border-radius(1em);
			cursor: pointer;
			outline:none;
			top: -.3em;
			-webkit-box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);
			-moz-box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);
			box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);

			&:last-child {
				margin-left: -1em;
			}
		}
	   .ui-slider .ui-slider-range {
			position:absolute;
			z-index: 1;
			font-size: .7em;
			display:block;
			border: 0;
			background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFUlEQVQIHWP4//9/PRMDA8NzEPEMADLLBU76a5idAAAAAElFTkSuQmCC) top repeat-x; /* transparent png */
			@include woo_inset_box_shadow(0,0,0,1px,rgba(0,0,0,0.5));
			@include border-radius(1em);
		}
	   .price_slider_wrapper .ui-widget-content {
			@include border-radius(1em);
		}
	   .ui-slider-horizontal {
			height: .5em;
		}
	   .ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}
	   .ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}

	   .ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}
} // end .woocommerce-page namespacing wrap

.header-cart-button {
	display: block;
	@include font-size(22);
	&:before {
		background-image: url(images/icons-alt-96-bluematte.png);
		background-position: -192px 0;
		background-repeat: no-repeat;
		padding: 96px 0 0 96px;
		width: 96px;
		height: 96px;
		overflow: hidden;
		@include inline-block;
		content: "";
	}
	.cart {
		@include inline-block;
	}
	.items {
		text-decoration: underline;
	}
	.total {
		display: block;
		text-align: center;
		@include font-size(21);
	}
}

.icon-cart .header-cart-button:before {
	font-family: FontAwesome;
	content: "\f07a";
	padding: 0;
	font-size: 76px;
	line-height: 1;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.woocommerce, .woocommerce-page {
		a.button, button.button, input.button, #respond input#submit, #content input.button {
			&.loading {
				&:before {
					background-image: url(images/ajax-loader@2x.gif);
					background-size: 16px 16px;
				}
			}
			&.added:before {
				background: url(images/success@2x.png) no-repeat;
				background-size:16px 14px;
			}
		}
		.woocommerce form .form-row.validate-required.woocommerce-validated input.input-text, .woocommerce-page form .form-row.validate-required.woocommerce-validated input.input-text {
			background-image: url(images/icons/valid@2x.png);
			background-size: 12px 9px;
		}
		.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text, .woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text {
			background-image: url(images/icons/invalid@2x.png);
			background-size: 12px 9px;
		}
		p.stars {
			span {
				background-image: url(images/star@2x.png);
				background-size: 16px 48px;
				a:hover, a:focus {
					background-image: url(images/star@2x.png);
					background-size: 16px 48px;
				}
				a.active {
					background-image: url(images/star@2x.png);
					background-size: 16px 48px;
				}
			}
		}
	}
}

//fix for gravity forms
.singular-product #main ul.gform_fields {
    padding-left: 0;
}

.singular-product #main #content .single_add_to_cart_button.gform_button {
    margin-top: .5em;
}